.container{
    padding-left:0px;
    padding-right:0px;
}
.content_header_empty{
    height:20px;
}
.menu_list{
    font-size: 16px;
    text-align: center;
     font-weight: 600;
    color: #222222;
    padding: 5px;
}
.contents_main{
    height: 250px;
    background-color: rgba(23,20,31,.7);
    border: 1px solid rgba(255, 153, 0, 0.2);
    border-radius: 4px;
}
.main_img{
    float: left;
    width: 250px;
    height: 100%;
}
.main_img div{
    width: 100%;
    height:100%;
    border-radius: 4px;
    float: left;
}
.contents_main_desp{
    height: 250px;
    padding : 15px;
    overflow : hidden;

}
.sidebar{
    width: 140px;
    height: 81%;
    position: absolute;
    float: left;
    background: rgba(255,153,0,.9);
}

.contents_profile{
        height: 60px;
        width: 60px;
}
.main_title{
     color: white;
     font-size: 20px;
     font-weight: 600;
}
.main_subtitle{
     font-size: 15px;
     color: #ededed;
}
.control{
    width: 100px;
    height: 35px;
    float:right;
    font-family:inherit;
    font-size:15px;
    background-color: rgba(23,20,31,.7);
    color: white;
    border: 1px solid white;
    margin: auto;
    }
.upload{
    height:30px;
    padding: 10px;
    font-size:15px;
    border-radius: 4px;
    color: white;
}
.contents_empty{
    height: 1000px;

}
.video_bar{
    height: 5px;
    border-bottom: 1px solid #ddd;
}
.contents_video{
    background-color: rgba(23,20,31,.7);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}
.contents_video_ul{
    padding-left:0px;
    padding : 5px;
}

.clip{
    width:196px;
    height:170px;
    margin-left: 5px;
    margin-right: 5px;
    border:none;
}
.clip_img{
    width:100%;
    height:110px;
}
.clip_title{
    font-size: 13px;
    color: #ff9900;
}
.clip_subtitle{
    font-size: 12px;
    color: #ededed;
}

@media(max-width:990px){
    .main_title{
        font-size: 12px;
    }
    .main_subtitle{
        font-size: 10px;
    }
    .main_img img{
    }
    .side_padding{
    padding: 3%;
    }
    .contents_main{
    margin:0px;
    }
    .clip{
        margin-right: 70px;
        margin-left : 70px;
    }
}