/*join start*/
.center {
}
.center-block{
    width: 140px;
    height: 50px;
    padding: 7px;
    font-size: 18px;
}
/*너비가 991보다 작을떄*/
@media(max-width:770px){
    .center-block{
        float: left;
        margin: auto;
    }
    .button_blank{
        width: 20px;
        float: left;
        height:20px;
    }
}
.join_submit{
    font-size: 15px;
    font-family: 나눔글꼴;
    background: #ff9900;
    border:1px solid #ff9900;
    border-radius: 3px;
    color: #ffffff;
    width: 120px;
    height: 40px;
    padding: 5px;
}
.modal-content{
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 나눔글꼴;
}
.modal-header {
}

.modal-footer {
    	padding: 0;
	}

.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

/*join end*/
