header{
    margin-top: 5rem;
    background-color: #161616;
    color: white;
    text-align: center;
}

#whole-container{
    width: 75%;
}

#order-container{
    margin-top: 5rem;
    border: 1px silver solid;
    padding: 2rem;
}

.tournaments{
    display: inline-block;
}

#tournaments{
    font-size: 2rem;
    color: rgba(255, 153, 0, 1);
}

#game-category-container{
    width: 75%;
    display: inline-block;
    text-align: right;
}

#game-category-container > select{
    height: 3rem;
    width: 10rem;
    background-color: inherit;
}

#game-category-container > select:hover{
    border-color: rgba(255, 153, 0, 1);
}

#game-category-container > select > option{
    text-align: center;
}

#game-category, #game-order{
    text-align: right;
}

#game-category{
    margin-right: 1rem;
}

#progress{
    margin-top: 3rem;
    text-align: center;
}

#progress > button{
    height: 4rem;
    width: 12rem;
    background-color: inherit;
    border-radius: 10%;
    border: 1px silver solid;
}

#progress > button:hover{
    background-color: rgba(255, 153, 0, 1);
}

#project-card-container{
    text-align: left;
    margin-top: 4rem;
    padding: 0;
}

.project-card{
    margin-right: 1rem;
}

.contents{
    height: auto;
    margin-bottom: 1rem;
}