{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} 오픈아레나:마이 페이지 {% endblock %}
{% block head %}
    <!--mypage.css-->
    <link rel="stylesheet" href="{% static 'css/participation.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_kyoungin.css' %}">
    <div class="head_empty"></div>
    <header class="help_head" style="background: url({% static 'img/q_cover.png' %}); margin-bottom: 0;">
        <div class="help_head_inner">
            <h1 class="help_head_title">마이 페이지</h1>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="gray">
        <div class="block-b" style="padding:0px">
            <!-- my page 검은 배경 -->
            <div class="col-xs-12 col-lg-10 col-sm-10 col-sm-offset-1">
                <div class="mypage_content">
                    <div class="mypage_empty"></div>
                    <!--mypage list-->
                    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" id="following" class="btn btn-primary no_border" href="#tab1" data-toggle="tab">
                                <span class="list_btn">대회 정보</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="following" class="btn btn-custom no_border" href="#tab2" data-toggle="tab">
                                <span class="list_btn">팀 정보</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="favorites" class="btn btn-custom no_border" href="#tab3" data-toggle="tab">
                                <span class="list_btn">내 프로필</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="favorites" class="btn btn-custom no_border" href="#tab4" data-toggle="tab">
                                <span class="list_btn">내 계정</span>
                            </button>
                        </div>
                    </div>

                    <div class="mypage_empty"></div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div style="margin: 0 auto; text-align: center">
                                <ul class="pager" style="margin-top: 5px; display: inline-block;">
                                    <li class="making_tournament">
                                        <a id="making_tournament" class="" href="javascript:void(0)" style="background: #ff9900; color: #fff; border-color: #ff9900">
                                            만든 대회
                                        </a>
                                    </li>
                                    <li class="participation_tournament">
                                        <a id="participation_tournament" class="hover_a" href="javascript:void(0)" style="background: #1a1a1a; color: #fff">
                                            참여한 대회
                                        </a>
                                    </li>
                                    <li class="funding_tournament">
                                        <a id="funding_tournament" class="hover_a" href="javascript:void(0)" style="background: #1a1a1a; color: #fff">
                                            후원한 대회
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div id="div_making_tournament" class="panel panel-default panel-table">
                                <div class="panel-body">
                                    <table class="table table-striped table-list">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>대회명</th>
                                            <th>게임 종류</th>
                                            <th>개최자</th>
                                            <th>대회 일정</th>
                                            <th>최종 참가자 수</th>
                                            <th>목표 후원금</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if tournament_info %}
                                            {% for ti in tournament_info %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href="">{{ ti.tournament_name }}</a></td>
                                                    <td>{{ ti.tournament_game }}</td>
                                                    <td>{{ ti.username }}</td>
                                                    <td>{{ ti.starttime }}</td>
                                                    <td>{{ ti.participant }}명</td>
                                                    <td>{{ ti.funding_goal|intcomma }}원</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="div_participation_tournament" class="panel panel-default panel-table">
                                <div class="panel-body">
                                    <table class="table table-striped table-list">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>대회명</th>
                                            <th>출전 정보</th>
                                            <th>전적</th>
                                            <th>성적</th>
                                            <th>상금</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if participation_info %}
                                            {% for pi in participation_info %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href="">{{ pi.tournament_name }}</a></td>
                                                    <td>{{ pi.etc1 }} | {{ pi.etc2 }} | {{ pi.etc3 }} | {{ pi.etc4 }}</td>
                                                    <td>{{ pi.score }}</td>
                                                    <td>{{ pi.result }}</td>
                                                    <td>{{ pi.prize|intcomma }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="div_funding_tournament" class="panel panel-default panel-table">
                                <div class="panel-body">
                                    <table class="table table-striped table-list">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>대회명</th>
                                            <th>후원하신 금액</th>
                                            <th>보상</th>
                                            <th>응원 문구</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if funding_info %}
                                            {% for fi in funding_info %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href="">{{ fi.tournament_name }}</a></td>
                                                    <td>{{ fi.amount|intcomma }}원</td>
                                                    <td>{{ fi.reward }}</td>
                                                    <td>{{ fi.comment }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="tab2">
                            <div style="margin: 0 auto; text-align: center">
                                <ul class="pager" style="margin-top: 5px; display: inline-block;">
                                    <li class="my_team">
                                        <a id="my_team" class="" href="javascript:void(0)" style="background: #ff9900; color: #fff; border-color: #ff9900">
                                            나의 팀
                                        </a>
                                    </li>
                                    <li class="funding_team">
                                        <a id="funding_team" class="hover_a" href="javascript:void(0)" style="background: #1a1a1a; color: #fff">
                                            후원한 팀
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div id="div_my_team" class="panel panel-default panel-table">
                                <div class="panel-body">
                                    <table class="table table-striped table-list">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>대회명</th>
                                            <th>출전 정보</th>
                                            <th>전적</th>
                                            <th>성적</th>
                                            <th>상금</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if participation_info %}
                                            {% for pi in participation_info %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href="">{{ pi.tournament_name }}</a></td>
                                                    <td>{{ pi.etc1 }} | {{ pi.etc2 }} | {{ pi.etc3 }} | {{ pi.etc4 }}</td>
                                                    <td>{{ pi.score }}</td>
                                                    <td>{{ pi.result }}</td>
                                                    <td>{{ pi.prize|intcomma }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="div_funding_team" class="panel panel-default panel-table">
                                <div class="panel-body">
                                    <table class="table table-striped table-list">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>대회명</th>
                                            <th>후원하신 금액</th>
                                            <th>보상</th>
                                            <th>응원 문구</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if funding_info %}
                                            {% for fi in funding_info %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href="">{{ fi.tournament_name }}</a></td>
                                                    <td>{{ fi.amount|intcomma }}원</td>
                                                    <td>{{ fi.reward }}</td>
                                                    <td>{{ fi.comment }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade in" id="tab3">
                            <div class="com_intro_now hover_div">
                                <div class="col-md-2" style="text-align: center; margin-top: 10px;">
                                    <h4>개인 프로필</h4>
                                </div>
                                <div class="col-md-8" style="margin: 10px auto;">
                                    <div class="col-md-8 col-md-offset-2 input-group image-preview" style="margin: 0 auto;">
                                        <input type="text" class="form-control image-preview-filename" disabled="disabled" placeholder="파일을 선택해주세요."> <!-- don't give a name === doesn't send on POST/GET -->
                                        <span class="input-group-btn">
                                            <!-- image-preview-clear button -->
                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                            </button>
                                            <!-- image-preview-input -->
                                            <div class="btn btn-default image-preview-input">
                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                <span class="image-preview-input-title">파일 선택</span>
                                                <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"> <!-- rename it -->
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-8 col-md-offset-2 input-group" style="margin: 10px auto;">
                                        <span class="input-group-addon" id="basic-addon1">닉네임</span>
                                        <input disabled type="text" required autocomplete="off" class="form-control" id="tournament_url" name="tournament_url" placeholder="{{ user.username }}">
                                    </div>
                                    <div class="col-md-8 col-md-offset-2 input-group" style="margin: 0 auto;">
                                        <span class="input-group-addon" id="basic-addon1">연락처</span>
                                        <input type="text" required autocomplete="off" class="form-control" id="tournament_url" name="tournament_url" placeholder="예) 010-1234-5678">
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right; margin-top: 10px;">
                                    <button type="submit" class="btn btn-default hover_a" style="background: transparent; border-color: white; color: white;">변경하기</button>
                                </div>
                            </div>
                            <div class="com_intro_now hover_div" style="margin-top: 20px;">
                                <div class="col-md-2" style="text-align: center; margin-top: 10px;">
                                    <h4>소개</h4>
                                </div>
                                <div class="col-md-8" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                                    <div style="overflow: auto; white-space: nowrap;">
                                        <div id="notice" class="summernote_notice">{{ tournament.notice|safe }}</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right; margin-top: 10px;">
                                    <button type="submit" class="btn btn-default hover_a" style="background: transparent; border-color: white; color: white">변경하기</button>
                                </div>
                            </div>
                            <div class="com_intro_now hover_div" style="margin-top: 20px; margin-bottom: 40px;">
                                <div class="col-md-2" style="text-align: center; margin-top: 10px;">
                                    <h4>방송 주소</h4>
                                </div>
                                <div class="col-md-8" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                                    <div style="overflow: auto; white-space: nowrap;">
                                        <div id="notice" class="summernote_notice">{{ tournament.notice|safe }}</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right; margin-top: 10px;">
                                    <button type="submit" class="btn btn-default hover_a" style="background: transparent; border-color: white; color: white">변경하기</button>
                                </div>
                            </div>
                        </div>

                        <!-- tab 4 -->
                        <div class="tab-pane fade in" id="tab4">
                            <div class="com_intro_now hover_div">
                                <div class="col-md-2" style="text-align: center; margin-top: 10px;">
                                    <h4>비밀번호 변경</h4>
                                </div>
                                <div class="col-md-8" style="margin: 10px auto;">
                                    <div class="col-md-8 col-md-offset-2 input-group" style="margin: 0 auto;">
                                        <span class="input-group-addon" id="basic-addon1">현재 비밀번호</span>
                                        <input type="password" required autocomplete="off" class="form-control" id="password" name="password">
                                    </div>
                                    <div class="col-md-8 col-md-offset-2 input-group" style="margin: 10px auto;">
                                        <span class="input-group-addon" id="basic-addon1">신규 비밀번호</span>
                                        <input type="password" required autocomplete="off" class="form-control" id="password" name="password">
                                    </div>
                                    <div class="col-md-8 col-md-offset-2 input-group" style="margin: 0 auto;">
                                        <span class="input-group-addon" id="basic-addon1">비밀번호 확인</span>
                                        <input type="password" required autocomplete="off" class="form-control" id="password" name="password">
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right; margin-top: 10px;">
                                    <button type="submit" class="btn btn-default hover_a" style="background: transparent; border-color: white; color: white;">변경하기</button>
                                </div>
                            </div>

                            <div class="com_intro_now hover_div" style="margin-top: 20px; margin-bottom: 40px;">
                                <div class="col-md-2" style="text-align: center; margin-top: 10px;">
                                    <h4>
                                        이메일 뉴스레터
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="대회 개최 및 변경사항, 긴급사항 시 이메일로 내용이 전달됩니다." style="font-size: 14px;"></span>
                                    </h4>
                                </div>
                                <div class="col-md-8" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                                    <div style="overflow: auto; white-space: nowrap;">
                                        <h5 style="display: inline-block;">
                                            <input type="radio" id="creater_enrollment" name="creater_enrollment" value="yes" checked="checked"> 구독(기본값)
                                            &nbsp;
                                            <input type="radio" id="creater_enrollment" name="creater_enrollment" value="no"> 구독 취소
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right; margin-top: 10px;">
                                    <button type="submit" class="btn btn-default hover_a" style="background: transparent; border-color: white; color: white">변경하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- withdrawalModal -->
    <div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">회원 탈퇴하기</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">오픈아레나 회원탈퇴를 진하시겠습니까?</label>
                        <p class="don_list">
                            1) 회원 탈퇴 시 회원님의 개인정보는 모두 삭제됩니다.<br/>
                            2) 탈퇴 시 동일 닉네임과 이메일로 재가입이 불가능합니다.<br/>
                            3) 회원님의 후원 내역과 대회 참가 내역은 보존됩니다.
                        </p>
                    </div>
                    <button name="withdrawal_final" id="withdrawal_final" class="btn btn-primary">
                        <label>네. 확인했습니다.</label>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            $('.summernote_notice').summernote({focus: true});

            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-custom");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-custom").addClass("btn-primary");
            });

            /* hover-border-color-change */
            function mouseOver_div() {
                $(this).css("border-color", "#ff9900");
            }
            function mouseOut_div() {
                $(this).css("border-color", "#fff");
            }
            $('.hover_div').bind('mouseover', mouseOver_div).bind('mouseout', mouseOut_div);

            /* hover-border-color-change */
            function mouseOver_a() {
                $(this).css("background", "#ff9900");
                $(this).css("color", "#fff");
                $(this).css("border-color", "#ff9900");
            }
            function mouseOut_a() {
                $(this).css("background", "#1a1a1a");
                $(this).css("color", "#fff");
                $(this).css("border-color", "#fff");
            }
            $('.hover_a').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);

            /* making_tournament, participation_tournament, funding_tournament */
            $('#div_participation_tournament').hide();
            $('#div_funding_tournament').hide();
            $('#making_tournament').click(function(){
                $('#div_making_tournament').show();
                $('#div_participation_tournament').hide();
                $('#div_funding_tournament').hide();
                $(this).unbind('mouseover', mouseOver_a).unbind('mouseout', mouseOut_a);
                $('#participation_tournament').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#participation_tournament').css("background", "#1a1a1a");
                $('#participation_tournament').css("color", "#fff");
                $('#participation_tournament').css("border-color", "#fff");
                $('#funding_tournament').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#funding_tournament').css("background", "#1a1a1a");
                $('#funding_tournament').css("color", "#fff");
                $('#funding_tournament').css("border-color", "#fff");
            });
            $('#participation_tournament').click(function(){
                $('#div_making_tournament').hide();
                $('#div_participation_tournament').show();
                $('#div_funding_tournament').hide();
                $(this).unbind('mouseover', mouseOver_a).unbind('mouseout', mouseOut_a);
                $('#making_tournament').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#making_tournament').css("background", "#1a1a1a");
                $('#making_tournament').css("color", "#fff");
                $('#making_tournament').css("border-color", "#fff");
                $('#funding_tournament').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#funding_tournament').css("background", "#1a1a1a");
                $('#funding_tournament').css("color", "#fff");
                $('#funding_tournament').css("border-color", "#fff");
            });
            $('#funding_tournament').click(function(){
                $('#div_making_tournament').hide();
                $('#div_participation_tournament').hide();
                $('#div_funding_tournament').show();
                $(this).unbind('mouseover', mouseOver_a).unbind('mouseout', mouseOut_a);
                $('#making_tournament').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#making_tournament').css("background", "#1a1a1a");
                $('#making_tournament').css("color", "#fff");
                $('#making_tournament').css("border-color", "#fff");
                $('#participation_tournament').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#participation_tournament').css("background", "#1a1a1a");
                $('#participation_tournament').css("color", "#fff");
                $('#participation_tournament').css("border-color", "#fff");
            });

            /* my_team, funding_team */
            $('#div_funding_team').hide();
            $('#my_team').click(function(){
                $('#div_my_team').show();
                $('#div_funding_team').hide();
                $(this).unbind('mouseover', mouseOver_a).unbind('mouseout', mouseOut_a);
                $('#funding_team').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#funding_team').css("background", "#1a1a1a");
                $('#funding_team').css("color", "#fff");
                $('#funding_team').css("border-color", "#fff");
            });
            $('#funding_team').click(function(){
                $('#div_my_team').hide();
                $('#div_funding_team').show();
                $(this).unbind('mouseover', mouseOver_a).unbind('mouseout', mouseOut_a);
                $('#my_team').bind('mouseover', mouseOver_a).bind('mouseout', mouseOut_a);
                $('#my_team').css("background", "#1a1a1a");
                $('#my_team').css("color", "#fff");
                $('#my_team').css("border-color", "#fff");
            });

            $("#withdrawal_final").click(function(){
                $.ajax({
                    type: 'POST',
                    url: 'accounts/withdrawal/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert('대회 참가 신청이 정상적으로 제출되었습니다.');
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}