{% extends "main/base2.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:대회기록실 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/archive_whole.css' %}">
    <link rel="stylesheet" href="{% static 'css/archive_tournaments.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div class="container-fluid">
            <div class="col-md-12">
                <p id="report-page-title">대회기록실</p>
            </div>
            <!-- game category -->
            <div class="game-category">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        게임 전체<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">리그 오브 레전드</a></li>
                        <li><a href="#">오버 워치</a></li>
                        <li><a href="#">스타1</a></li>
                        <li><a href="#">기타</a></li>
                    </ul>
                </div>
            </div>

            <div class="order-search-container col-md-12">
                <div class="col-md-1"></div>
                <span class="last-arena-title col-md-2">지난 대회</span>
                <!--
                <div class="col-md-3 search-container" id="search-container">
                    <input type="search" alt="" value="" placeholder="Search.." class="search">
                </div>
                -->
                <div class="order-category col-md-9">
                    <button type="button" class="">후원 금액순</button>
                    <button type="button" class="">후원자순</button>
                    <button type="button" class="">최신순</button>
                    <button type="button" class="">마감 임박순</button>
                </div>

            </div>
            <!-- contents -->
            <div class="container-fluid col-md-12" id="contents-container">
                <!--
                <div class="col-md-1 remote">
                    <div>
                        <a href="{% url 'archive_whole' %}"><p>전체</p></a>
                    </div>
                    <div class="go-arena">
                        <a href="{% url 'archive' %}"><p>지난 대회</p></a>
                    </div>
                    <div class="go-video">
                        <a href=""><p>영상</p></a>
                    </div>
                </div>
              -->
                <div class="project-card-container col-md-11 col-md-offset-1">
                    {% for card in card_list_end %}
                        <div class="project-card">
                            <div class="card sticky-action">
                                <div class="card-image waves-effect waves-block waves-light" id="overwatch">
                                </div>
                                <div class="progress stat2">
                                    <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{card.get_fundings}}%;">
                                    </div>
                                </div>
                                <div class="card-content-container">
                                    <div class="card-content-title">
                                        <div class="card-content-top">
                                            <div class="card-title-container">
                                                <span class="card-title">{{card.tournament_name}}</span>
                                            </div>
                                            <div class="card-dday-container">
                                                <span class="card-dday">{{card.get_day}}</span>
                                            </div>
                                        </div>
                                        <div class="card-summary-container">
                                            <span class="card-summary">{{card.summary}}</span>
                                        </div>
                                    </div>
                                    <div class="card-content-bottom">
                                        <div class="card-fundings-container">
                                            <span class="card-fundings">모인 상금 총 {{card.get_fundings_sum}}원</span>
                                        </div>
                                        <div class="detail-button-container">
                                            <span class="card-title activator grey-text text-darken-4 card-title"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="material-icons right"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-reveal card-detail">
                                    <div class="progress stat2">
                                        <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ card.get_fundings }}%;">
                                        </div>
                                    </div>
                                    <div class="card-content-top">
                                        <div class="card-title-container">
                                            <span class="card-title">{{card.tournament_name}}</span>
                                        </div>
                                        <div class="card-dday-container">
                                            <span class="card-dday">{{card.get_day}}</span>
                                        </div>
                                        <div class="card-summary-container">
                                            <span class="card-summary">{{card.summary}}</span>
                                        </div>
                                    </div>
                                    <div class="card-content-bottom">
                                        <div class="card-fundings-container">
                                            <span class="card-fundings">모인 상금 총 {{card.get_fundings_sum}}원</span>
                                        </div>
                                        <div class="detail-button-container">
                                            <span class="card-title activator grey-text text-darken-4 card-title"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><i class="material-icons right"></i></span>
                                        </div>
                                    </div>
                                    <div class="card-detail-information">
                                        <ul>
                                            <li><div class="card-information-content">대회 일시</div><div class="card-information-data">{{card.starttime}}</div></li>
                                            <li><div class="card-information-content">참가 마감</div><div class="card-information-data">{{card.participation_endtime}}</div></li>
                                            <li><div class="card-information-content">후원 마감</div><div class="card-information-data">{{card.funding_endtime}}</div></li>
                                            <li><div class="card-information-content">후원자수</div><div class="card-information-data">{{card.get_participation}}명</div></li>
                                            <li><div class="card-information-content">보상</div><div class="card-information-data">{{card.reward}}</div></li>
                                        </ul>
                                        <div class="card-detail-button">
                                            <button type="button" name="" class="sponser-button">바로가기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                <!--
                                <div class="next-scroll-card col-md-12">
                                    <a href="card.html">더보기</a>
                                </div>
                -->
            </div>
        </div>
    </header>


{% endblock %}

{% block script %}

{% endblock %}