<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} {% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../static/css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}

    {% endblock %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'main.views.home' %}"><img src="../../static/img/logo.png" alt="logo" width="110px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'main.views.looking' %}">대회 둘러보기</a>
                    </li>
                    <li>
                        <a href="{% url 'main.views.making' %}">대회 만들기</a>
                    </li>
                    <li>
                        <a href="{% url 'main.views.video' %}">대회 영상</a>
                    </li>
                    <li>
                        <a href="{% url 'main.views.hallfame' %}">명예의 전당</a>
                    </li>
                    <li>
                        <a href="{% url 'main.views.login' %}">로그인</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="banner">
            <div class="container">
                <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#introduce">매체소개</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#competition">개인정보정책</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#video">이용약관</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#fame">문의하기</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="https://www.facebook.com/%EC%98%A4%ED%94%88%EC%95%84%EB%A0%88%EB%82%98-OpenArena-1081481298553678/">페이스북</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Crowdit 2016. All Rights Reserved
                    </br></br>(주)크라우딧 | 공동대표: 한상우, 백경인, 안희철 | 사업자등록번호: 000-00-00000
                  </br>연락처: 010-7126-8816 | 영업소재지: 대한민국 울산광역시 울주군 언양읍 유니스트길 50
                  </p>
                </div>
            </div>

            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    {% block jquery %}

    {% endblock %}

</body>

</html>
