{% extends "main/base.html" %}

{% block title %} 오픈아레나:대회 둘러보기 {% endblock %}

{% block content %}
<div class="bb">
   <div class="com_header">
       <div class="com_empty">
       </div>
       <div class="com_header_inner">
           <div class="col-md-2 col-md-offset-2 col-xs-2 col-xs-offset-2">
               <div class="com_profile"></div>
           </div>
           <div class="col-md-5 col-xs-5">
               <div class="com_title">미갈리스의 하스스톤대회</div></br>
               <p class="com_subtitle">매갈리스 배 하스스톤 레전드 매치는 8강으로 구성된 레전드 bj들의 매치이다. 탑 티어 플레이들이 4주간에 걸처 싱글 토너먼트 형식으로 진해된다.</p>
               <div class="com_subtitle">2016/08/30   05:45 pm</div></br>
           </div>
           <div class="col-md-2 col-xs-2">
               <ul class="">
                    <li class="">
                        <a href="#" class="btn btn-default white" >
                         후원하기</a>
                        <div style="height: 20px"></div>
                        <a href="#" class="btn btn-default white" >
                            참가하기</a>
                    </li>
                </ul>
           </div>
           <div class="col-md-9 col-md-offset-2 col-xs-9 col-xs-offset-2">
               <h4 class="com_title">250,000 / 500,000 \  후원 해주셨습니다</h4>
               <div class="com_white_bar">
                   <div class="com_orange_bar"></div>
               </div>
           </div>
       </div>
    </div>
   <div class="com_mid">
       <div class="com_list_intro">
            <ul class="list-inline">
                <li class="com_list_margin">
                    <a class="com_list" href="#">대회 소개</a>
                </li>
                <li class="com_list_margin">
                    <a class="com_list" href="#">대회 규칙</a>
                </li>
                <li class="com_list_margin">
                    <a class="com_list" href="#">대진표</a>
                </li>
                <li class="com_list_margin">
                    <a class="com_list" href="#">후원자 댓글</a>
                </li>
                <li class="">
                    <a class="com_list" href="#">후원자 명단</a>
                </li>
            </ul>
       </div>
        <div class="bar4" ></div>
        <div class="com_intro">
           <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
               <div class="com_intro_img">
               <img src="../../static/nowcompetition/image4.png">
               </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <div class="com_intro_now">
                    <div class="com_into_small">후원자 수</div>
                   <div class="com_into_small"><span  class="com_into_big">234</span> 명</div><br>
                   <div class="com_into_small">모인 상금</div>
                   <div class="com_into_small"><span class="com_into_big">300,000</span> 원</div><br>
                   <div class="com_into_small">마감 기한</div>
                   <div class="com_into_small"><span class="com_into_big">13</span> 일</div><br>
                   <div class="com_into_small">참가자 수</div>
                   <div class="com_into_small"><span class="com_into_big">13 / 50</span> 명</div><br>
                   <div class="com_into_small facebook_btn">
                       <a class="facebook_font"><img src="../../static/img/facebook.svg"> 공유하기</a>
                   </div>
               </div>
           </div>

          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <p class="com_intro_desp">
                  미갈컵의 2016년 아마추어 프로게이머 살리기 프로젝트에 상금을 확보하기위해 크라우드 펀딩을 진행합니다.
                  많은 시청자 여러분의 도움 부탁드립니다.<br><br>
                    - 공연명 : 2016 하스스톤 아마추어 프로게이머 살리기 미갈컵<br>
                    - 대회 일정<br>
                    16년 6월 27일 (월) pm 8:00 - 128강 ~ 8강 예선. (비방송)<br>
                    16년 6월 28일 (화) pm 8:00 – 4강 ~ 결승 (방송송출)<br>
                    [아프리카 미갈tv] - http://afreecatv.com/csy0369<br>
                    [트위치 미갈tv] - http://www.twitch.tv/migal07<br>
                    <br>
                    - 대회 상금 (.상금 + WC Point)<br>
                    1위 : 모인 상금의 50% + WC Point 3점 (후원 : 사냥고공싱 님)<br>
                    2위 : 모인 상금의 30%+ WC Point 2점<br>
                    3,4위 : 모인 상금의 10% + WC Point 1점<br>
                    (128명 인원의 70%이상이 참여 하지 않을 경우, WC Point 는 지급이<br>
                     불가합니다.)<br>
                    문의 : 010-0000-0000<br>
                    <br>
                    이 프로그램은 특성상 환불이 불가능 합니다.<br>
              </p>
          </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="com_donate_box" >
                    <li class="com_intro_box">
                        <a>
                            <div class="box_head">
                                <p class="box_head_title">1000원 이상 밀어주시는 분께</p>
                            </div>
                            <div>
                                <p class="box_body_de">후원자 채팅방 권한을 드립니다.</p>
                            </div>
                            <div>
                                <span></span>
                                0명이 선택하셨습니다.
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}