{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %} 오픈아레나:미갈리스 하스스톤 대회 {% endblock %}
{% block head %}
    <!--participation.css-->
    <link rel="stylesheet" href="{% static 'css/participation.css' %}">

{% endblock %}
{% block content %}
    <div class="block-b">
        <div class="com_header" style="background:url({% static "img/image.png" %})">
            <div class="com_empty">
            </div>
            <div class="com_header_inner">
                <div class="container">
                    <!--프로필칸-->
                    <div class="col-sm-3 col-md-2 col-md-offset-1 hidden-xs" >
                        <div class="com_profile"></div>
                    </div>
                    <!--대회설명-->
                    <div class="col-sm-6 col-md-6 col-xs-12 ">
                        <div class="com_title">{{ making.tournament_name }}</div></br>
                        <p class="com_subtitle hidden-xs">{{ making.summary }}</p>
                        <div class="com_subtitle">대회 일정 : {{ making.starttime }}</div></br>
                    </div>
                    <!--후원/참가-->
                    <div class="col-sm-3 col-md-3 col-xs-12 ">
                        <ul class="com_mainbox">
                            <li class="">
                                <div class="" >
                                    <div class="center">
                                        <button id="funding" name="funding" class="btn btn-primary center-block" data-toggle="modal" data-target="#fundingModal">후원하기</button>
                                    </div>
                                </div>

                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="" >
                                    <div class="center">
                                        <button id="participation" name="participation" class="btn btn-primary center-block" data-toggle="modal" data-target="#participationModal">대회참가</button>
                                    </div>
                                </div>
                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="center">
                                    <button id="streaming" name="streaming" class="btn btn-primary center-block">방송보기</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--상금바-->
                    <div class="col-sm-10 col-md-10 col-xs-10 col-md-offset-1 ">
                        <h4 class="com_title">최종 목표 {{ making.funding_goal }}원 | 총 {{ total_amount.amount__sum }}원 후원 해주셨습니다 </h4>
                        <!--
                        <div class="com_white_bar">
                            <div class="com_orange_bar"></div>
                        </div>
                        -->
                    </div>
                </div>

            </div>
        </div>
        <div class="com_mid">
            <!--competition list-->
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <!-- 대회 소개 -->
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary no_border " href="#com_tab1" data-toggle="tab">
                        <div class="list_btn">대회 소개</div>
                    </button>
                </div>
                <!-- 참여한 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab3" data-toggle="tab">
                        <div class="list_btn">대진표</div>
                    </button>
                </div>
                <!-- 후원자 댓글 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="##com_tab4" data-toggle="tab">
                        <div class="list_btn">후원자 댓글</div>
                    </button>
                </div>
                <!-- 후원자 명단 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="##com_tab5" data-toggle="tab">
                        <div class="list_btn">후원자 명단</div>
                    </button>
                </div>
            </div>
            <!--competition list-->
            <!--competition content-->
            <div class="tab-content">
                <!--competition content 1-->
                <div class="tab-pane fade in active" id="com_tab1">
                    <div class="com_intro">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="com_intro_img">
                                <img src="{% static 'nowcompetition/poster_new2.png' %}">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="container com_intro_now">
                                {% if funding %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ funding.count }}</span> 명</div><br>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ total_amount.amount__sum }}</span> 원</div><br>
                                {% else %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 원</div><br>
                                {% endif %}
                                <div class="com_into_small">마감 기한</div>
                                <div class="com_into_small"><span class="com_into_big">{{ making.endtime }}</span> 일</div><br>
                                {% if participation %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ participation.count }}</span> 명</div><br>
                                {% else %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br>
                                {% endif %}
                                <div class="com_into_small">
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="com_intro_desp">{{ making.description }}</p>
                        </div>
                    </div>
                </div>

                <!--competition content 3 대진표-->
                <div class="tab-pane fade in" id="com_tab3">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-md-offset-1">
                        <div class="com_intro_desp">
                            <a class="donater_title">대회 신청자</a>
                            <br>
                            {% if participation %}
                                <a style="color: white">현재 {{ participation.count }} 명</a>
                            {% else %}
                                <a style="color: white">현재 0 명</a>
                            {% endif %}

                            <div class="donater_container">
                                {% if participation %}
                                    {% for p in participation %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="../../static/img/profile.svg">
                                            <span>참가 번호 {{ forloop.counter }} : {{ p.username }} 님 | {{ p.etc1 }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade in" id="com_tab4">
                    <div class="com_intro_desp">
                        <div class="com_donatelist_box">
                            <textarea id="comment" name="comment" class="form-control com_donate_desp" rows="3" placeholder=" 대회 응원 댓글을 달아주세요. (후원자만 입력 가능합니다.)" ></textarea>
                            <button class="btn btn-primary com_donate_enroll">등록</button>
                        </div>

                        <a class="donater_title">후원 댓글 보기</a>
                        <div class="donater_container">
                            <div class="com_donate_list">
                                <img class="com_donate_icon" src="../../static/img/profile.svg">
                                <span>{{ reply.username }} : {{ reply.comment }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--competition content 5 후원자 명단-->
                <div class="tab-pane fade in" id="com_tab5">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-md-offset-1">
                        <div class="com_intro_desp">
                            <a class="donater_title">Top3 후원자</a>
                            <div class="donater_container">
                                {% if funding %}
                                    {% for tf in top_funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="../../static/img/profile.svg">
                                            <span>{{ tf.username }} 님 : {{ tf.amount }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donater_title">후원해주신 분들</a>
                            <br>
                            <a style="color: white">현재 {{ funding.count }} 명</a>
                            <div class="donater_container">
                                {% if funding %}
                                    {% for f in funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="../../static/img/profile.svg">
                                            <span>{{ f.username }} 님 : {{ f.amount }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--competition content-end-->

            <!--donate-->
            <div class="modal fade" id="fundingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 참가하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="funding_form" action="{% url 'funding' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputPassword1">후원하실 금액을 선택해주세요</label>
                                </div>
                                <button name="funding_amount" type="submit" class="donate_submit" value="1000">
                                    1,000원 후원하기
                                </button>
                                <button name="funding_amount" type="submit" class="donate_submit" value="3000" style="margin-left: 20px;">
                                    3,000원 후원하기
                                </button>
                                </br></br>
                                <button name="funding_amount" type="submit" class="donate_submit" value="5000">
                                    5,000원 후원하기
                                </button>
                                <button name="funding_amount" type="submit" class="donate_submit" value="10000" style="margin-left: 20px;">
                                    10,000원 후원하기
                                </button>
                                </br></br>
                                <button name="funding_amount" type="submit" class="donate_submit" value="20000">
                                    20,000원 후원하기
                                </button>
                                <button name="funding_amount" type="submit" class="donate_submit" value="50000" style="margin-left: 20px;">
                                    50,000원 후원하기
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--participation in-->
            <div class="modal fade" id="participationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 참가하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="participation_form" action="{% url 'participation' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label for="participation_username">참가자 닉네임</label>
                                    <input disabled required autocomplete="off" class="form-control" placeholder="{{ user.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="participation_phone">참가자 연락처 (대회 시작 전 연락을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_phone" name="participation_phone" placeholder="예) 010-1234-5678">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc1">롤 티어</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc1" name="participation_etc1" placeholder="예) 실버 1단계">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc2">롤 아이디</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc2" name="participation_etc2" placeholder="예) 롤길동">
                                </div>
                                <button type="submit" class="join_submit">참가하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });

            {% if request.user.is_authenticated %}
                {% if has_funded == "yes" %}
                    document.getElementById("comment").disabled = false;
                {% else %}
                    document.getElementById("comment").disabled = true;
                {% endif %}
            {% else %}
                $("#funding").click(function () {
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                $("#participation").click(function () {
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                document.getElementById("comment").disabled = true;
            {% endif %}

            $("#streaming").click(function () {
                window.open("{{ making.streaming_url_spec }}");
            });

            $("#funding_form").submit(function(e) {
                var params = "funding_amount="+$(this).context.submit.value;
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: '/funding/',
                    data: params,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "fail"){
                            alert('결제가 정상적으로 이루어지지 않았습니다. 다시 한번 시도해주세요.');
                        }
                    }
                });
            });

            $("#participation_form").submit(function(e) {
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: '/participation/',
                    data: params,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert('대회 참가 신청이 정상적으로 제출되었습니다. 대회 시작 1시간 전 문자를 발송해드리도록 하겠습니다.');
                        }
                    }
                });
            });

            $("#reply_form").submit(function(e) {
                var params = "funding_amount="+$(this).context.submit.value;
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: '/funding/',
                    data: params,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "fail"){
                            alert('결제가 정상적으로 이루어지지 않았습니다. 다시 한번 시도해주세요.');
                        }
                    }
                });
            });
        });
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d75e1fa49a7bd2"></script>

{% endblock %}
