{% extends "main/base.html" %}

{% block title %} 오픈아레나:도움말 {% endblock %}

{% block head %}
    <div class="head_empty"></div>
    <header class="help_head">
        <div class="help_head_inner">
            <h1 class="help_head_title">도움말</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12 col-lg-12">
            <div class="col-md-6">
                <!-- Tab -->
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" style="font-size: 16px">서비스 소개</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane active in fade" id="faq-cat-1">
                            <div class="panel-group" id="accordion-cat-1">
                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#tab1_question1">
                                            <h4 class="panel-title">
                                                오픈 아레나는 무슨 서비스인가요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab1_question1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;오픈아레나는 E-스포츠 선수들이 꿈을 펼칠 수 있는 더 나은 환경을 만들기 위한 E-츠포츠 대회 크라우드 펀딩 플랫폼입니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#tab1_question2">
                                            <h4 class="panel-title">
                                                오픈 아레나를 만든 이유는 무엇인가요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab1_question2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;E-스포츠 아마추어 플랫폼 "오픈아레나"는 E-스포츠 팬들의 크라우드펀딩 플랫폼입니다. 팬들은 자신이 관심있는 E-스포츠 대회에 대해서 E-스포츠 대회에 대한 후원을 할 수 있습니다. 이를 통해 중간 유통과정에서 임대료, 광고비등으로 인해 팬들의 소비가 온전히 아마추어 프로게이머에 전달되지 못하는 문제를 해결하고 온전한 가치에 대해 지불하는 소비를 지향합니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab -->
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" style="font-size: 16px">대회 참가자 & 후원자</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane active in fade" id="faq-cat-1">
                            <div class="panel-group" id="accordion-cat-2">
                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question1">
                                            <h4 class="panel-title">
                                                대회 참가자도 의무적으로 펀딩을 해야하나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;따로 참가비가 있는 대회가 아니면 펀딩을 하지 않아도 됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question2">
                                            <h4 class="panel-title">
                                                제가 후원한 금액은 어디서 볼 수 있나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;마이페이지에서도 확인하실 수 있으며, 대회의 후원 목록에도 기재됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question3">
                                            <h4 class="panel-title">
                                                금전이 아닌 다른 물품으로도 후원할 수 있나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;대부분 온라인으로 진행되는 대회이니 만큼 물품에 대한 펀딩은 따로 진행하지 않습니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question4">
                                            <h4 class="panel-title">
                                                후원 시 대회 개최자에게 제공되는 제 개인정보는 무엇인가요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;펀딩 금액 외에 추후 보상 지급을 위한 연락처가 제공됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question5">
                                            <h4 class="panel-title">
                                                하나의 대회를 중복으로 후원할 수 있나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;네 가능합니다. 전에 했던 펀딩과 합산되어 계산됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question6">
                                            <h4 class="panel-title">
                                                후원을 취소하려면 어떻게 해야하나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;펜딩 페이지 혹은 마이 페이지에서 취소할 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question7">
                                            <h4 class="panel-title">
                                                어떤 결제 수단을 지원하나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;고민 중입니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question8">
                                            <h4 class="panel-title">
                                                결제 방식은 선결제인가요 후결제인가요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;대회가 진행 시 결제가 진행됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question9">
                                            <h4 class="panel-title">
                                                후원 시 제 신용카드 정보를 가져가는 건가요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question9" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;카드 정보는 철저히 보안된 정보로 전송됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Question & Answer -->
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question10">
                                            <h4 class="panel-title">
                                                대회 개최자가 후원 약속을 지키지 않으면 어떻게 하나요?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="tab2_question10" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;보상에 대한 1차적인 책임은 대회의 주최자 및 참여 게이머들에게 있습니다. 하지만 오픈아레나 측에서도 문제 해결을 위해 최선을 다하겠습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" style="font-size: 16px">대회 개최자</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content faq-cat-content">
                    <div class="tab-pane active in fade" id="faq-cat-1">
                        <div class="panel-group" id="accordion-cat-3">
                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question1">
                                        <h4 class="panel-title">
                                            대회 페이지는 어떻게 만드는 건가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;상단 메뉴의 대회 개최하기 버튼을 누르면 다양한 포맷의 대회를 만드실 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question2">
                                        <h4 class="panel-title">
                                            어떤 게임 장르든 대회로 만들 수 있는 건가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;네. 누구나 어떤 게임이든 개최할 수 있습니다. 다만 게임 대회가 진행되는 지에 대한 확인을 위해 인터넷 방송을 하실 수 있어야 하며 누구나 대회를 만들 수 있게 하기 위해 인터넷 방송인들과의 중개 서비스 또한 계획하고 있습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question3">
                                        <h4 class="panel-title">
                                            펀딩 제한 시간과 목표 금액을 설정해야 하나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회의 원활한 개최와 시청자들의 펀딩을 독려하기 위해 제한 시간과 목표 금액을 설정하고 있습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question4">
                                        <h4 class="panel-title">
                                            펀딩 목표 금액을 다 채워야 하는 건가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;목표 금액이 모이지 않을 경우 대회 개최자가 대회의 개최 여부를 최종 결정하며 개최 시엔 모아진 금액만큼 상금으로 제공되고 취소 시 다시 환불이 됩니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question5">
                                        <h4 class="panel-title">
                                            펀딩 금액은 자기 마음대로 설정해도 되나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회 개최 인원, 기존 스트리밍 시청자 수, 참여자 유명도 등에 따라 펀딩 성공 여부가 결정 될 수 있으며 추후 데이터 분석을 통해 펀딩 성공을 위한 더 나은 정보를 제공할 수 있도록 노력하겠습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question6">
                                        <h4 class="panel-title">
                                            펀딩 금액을 지급받을 때 발생하는 수수료가 있나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;펀딩할 때에 부과되는 수수료는 없지만 펀딩된 금액이 상금으로 지급 시 오픈아레나 수수료와 대회 진행 비용, 카드 수수료 등을 제외하고 총 펀딩 금액의 약 80%가 실제 상금으로 지급됩니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question7">
                                        <h4 class="panel-title">
                                            대회는 어떤 방식으로 진행되는 건가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회는 원하는 형식에 따라 자유롭게 개설 가능하며 정하신 대회 시작 시간 1시간 전까지 상금에 대한 크라우드 펀딩이 진행됩니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question8">
                                        <h4 class="panel-title">
                                            대회 페이지 생성은 무료인가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회 페이지 생성은 전액 무료이지만 방송에 대한 경험이 없으시다면 유료로 스트리머 중개 서비스를 이용하실 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question9">
                                        <h4 class="panel-title">
                                            공약과 후원자 선물은 꼭 생성해야 하는 건가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question9" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;게임 코치, 게임 영상 등 비금전적인 혜택이 보상으로 제공되지만 후원자 선물을 통해 더욱 더 많은 시청자들을 후원하도록 독려할 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question10">
                                        <h4 class="panel-title">
                                            대회 생성 후 대회 기간과 목표 금액을 변경할 수 있나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question10" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회는 다수의 사람들이 참여하는 행사이기 때문에 혼란을 불러일으킬 수 있는 불필요한 변경은 금하고 있습니다. 대회 설정에 큰 실수가 있으셨다면 ~로 메일 주시면 확인 후 변경해 드리도록 하겠습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question11">
                                        <h4 class="panel-title">
                                            대회 공개 후에 변경할 수 있는 사항은 무엇인가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question11" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회 설명에 대한 수정과 공약 추가, 후원자 상품 추가를 하실 수 있습니다. 공약과 후원자 상품의 변경, 또는 삭제는 원칙적으로 금하고 있습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question12">
                                        <h4 class="panel-title">
                                            목표 금액이 초과되면 어떻게 되는 건가요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question12" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;목표 금액이 초과되어도 같은 비율만큼 상금으로 지원됩니다. 스트리머에 따라서 금액에 따른 공약이 있을 수 있으니 관심있게 보아주세요.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question13">
                                        <h4 class="panel-title">
                                            대회를 중간에 취소할 수 있나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question13" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회는 다수의 사람들이 참여하는 행사이기 때문에 혼란을 불러일으킬 수 있는 갑작스런 행사 취소는 금하고 있습니다. 개인적인 사정으로 취소를 해야만 할 경우 운영진 측과 상의 후 취소가 가능합니다. 목표 금액에 도달하지 못 하였을때에는 스트리머 분의 의향에 따라 대회 취소 여부가 결정됩니다. 두 경우 모두 후원금이 전액 환불되기 때문에 대회 지원금의 지급이 취소됩니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question14">
                                        <h4 class="panel-title">
                                            대회 정보를 잘못 기재하여 수정하고 싶은데요.
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question14" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;대회는 다수의 사람들이 참여하는 행사이기 때문에 혼란을 불러일으킬 수 있는 불필요한 변경은 금하고 있습니다. 대회 설정에 큰 실수가 있으셨다면 ~로 메일 주시면 확인 후 변경해 드리도록 하겠습니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question15">
                                        <h4 class="panel-title">
                                            펀딩 마감 이후 환불을 원하는 후원자가 있으면 어떻게 하죠?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question15" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;펀딩이 마감된 이후에는 환불이 불가능합니다. 하지만 대회 개최자의 문제로 인한 환불일 경우에는 대회 지원금에서 가감이 됩니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question16">
                                        <h4 class="panel-title">
                                            후원자에게 지급 가능한 선물은 무엇이 있나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question16" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;게이밍 기어가 될 수도 있고 유명 선수의 싸인이 될 수도 있습니다. 주 시청자들이 게임을 좋아하는 층인 만큼 관련 상품일수록 호응도가 높아질 수 있습니다. 금전과 불법적인 물건, 혐오감을 줄 수 있는 물건 등은 금지됩니다. 후원자 선불 지급 금액 제한은 없지만 후원 금액과 그에 따른 대회 지원금에 따라 주최측에서 부담스럽지 않게 준비해주시면 됩니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question17">
                                        <h4 class="panel-title">
                                            후원자 선물을 중간에 변경할 수 있나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question17" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;선물의 추가는 가능하지만 등록된 선물의 수정은 원칙적으로 불가능하며 운영자와 상의 후 가능합니다.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Question & Answer -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question18">
                                        <h4 class="panel-title">
                                            대회 펀딩 수수료에 대한 세금 계산서를 발생해 주시나요?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="tab3_question18" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>&nbsp;네. 물론입니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.collapse').on('show.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
            });
            $('.collapse').on('hide.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
            });
        });
    </script>

{% endblock %}