{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:도움말 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom_kyoungin.css' %}">

    <div class="head_empty"></div>
    <header class="help_head">
        <div class="help_head_inner">
            <h1 class="help_head_title">도움말</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12 col-lg-12">
            <div class="col-md-6">
                <!-- Tab 1 -->
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" style="font-size: 16px">서비스 소개</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane active in fade" id="faq-cat-1">
                            <div class="panel-group" id="accordion-cat-1">
                                <!-- Question & Answer -->
                                {% if help_type1 %}
                                    {% for h1 in help_type1 %}
                                        <div class="panel panel-default panel-faq">
                                            <div class="panel-heading">
                                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#tab1_question{{ forloop.counter }}">
                                                    <h4 class="panel-title">
                                                        {{ h1.question }}
                                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                                    </h4>
                                                </a>
                                            </div>
                                            <div id="tab1_question{{ forloop.counter }}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p class="help_text">{{ h1.answer|safe }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab 2 -->
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" style="font-size: 16px">대회 참가자 | 후원자</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane active in fade" id="faq-cat-2">
                            <div class="panel-group" id="accordion-cat-2">
                                <!-- Question & Answer -->
                                {% if help_type2 %}
                                    {% for h2 in help_type2 %}
                                        <div class="panel panel-default panel-faq">
                                            <div class="panel-heading">
                                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#tab2_question{{ forloop.counter }}">
                                                    <h4 class="panel-title">
                                                        {{ h2.question }}
                                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                                    </h4>
                                                </a>
                                            </div>
                                            <div id="tab2_question{{ forloop.counter }}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p class="help_text">{{ h2.answer|safe }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab 3 -->
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" style="font-size: 16px">대회 개최자</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content faq-cat-content">
                    <div class="tab-pane active in fade" id="faq-cat-3">
                        <div class="panel-group" id="accordion-cat-3">
                            <!-- Question & Answer -->
                            {% if help_type3 %}
                                {% for h3 in help_type3 %}
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#tab3_question{{ forloop.counter }}">
                                                <h4 class="panel-title">
                                                    {{ h3.question }}
                                                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="tab3_question{{ forloop.counter }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p class="help_text">{{ h3.answer|safe }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.collapse').on('show.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
            });
            $('.collapse').on('hide.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
            });
        });
    </script>

{% endblock %}