{% extends "main/base.html" %}

{% block title %} 오픈아레나:모두의 경기 {% endblock %}

{% block content %}
    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>오픈 아레나</h1>
                        <h3>모두의 경기 오픈아레나 입니다</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <a href="#" class="btn btn-default btn-lg" style="margin-right: 10px;">
                                 <span class="donate">참여하기</span></a>

                                <a href="#" class="btn btn-default btn-lg" style="margin-left: 10px;">
                                   <span class="donate">후원하기</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">오픈아레나<br>OpenArena</h2>
                    <p class="lead">오픈 아레나는 아마추어 e-sports 대회 중계 플랫폼으로</br>
                       게임을 즐기는 아마추어 프로게이머를 후원합니다.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../../static/img/gamer.jpg" alt="gamer">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	<a  name="competition"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">LOL 아마추어 대항전</h2>
                    <p class="lead">리그오브레전드 아마추어 PC방 대회
                      <a target="_blank" href="http://www.psdcovers.com/">대회 모집요강</a>
                       에서 PC방배 리그오브레전드 대회에 참여하실 수 있습니다.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../../static/img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">오버워치 대학교 대항전</h2>
                    <p class="lead">2016년 오버워치 게임대회
                      <a target="_blank" href="http://join.deathtothestockphoto.com/">대회 모집요강</a>
                      에서 대회 참여자를 모집하고 있습니다.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../../static/img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>오픈아레나 연락처</h2>
                </div>
                <div class="col-lg-13" style="margin-left: 15px;">
                    <ul class="list-inline banner-social-buttons">
                      <li>
                        <a href="#" class="btn btn-default btn-lg">
                          <img title="facebook" alt="facebook" src="../../static/img/facebook.svg">
                           <span class="network-name">페이스북</span></a>
                      </li>
                        <li>
                          <a href="#" class="btn btn-default btn-lg">
                            <img title="mail" alt="mail" src="../../static/img/naver.svg">
                             <span class="network-name">crowdit@naver.com</span></a>
                        </li>

                        <li>
                          <a href="#" class="btn btn-default btn-lg">
                              <img title="phone" alt="phone" src="../../static/img/phone.png">
                               <span class="network-name">010-2253-0992</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
