{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %} 오픈아레나:모두의 경기 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home_spin.css' %}">
{% endblock %}
{% block content %}
    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>오픈 아레나</h1>
                        <h3>베타 서비스에 오신 것을 환영합니다.</h3>
                           <div class="spin" style="margin-top: 50px;">
                               <span></span><span></span><span></span>
                           </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}