{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:대회 둘러보기 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom_kyoungin.css' %}">
{% endblock %}

{% block content %}
    <div class="intro-header">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="looking_table">
                <div class="table_title" >게임별 대회
                </div>
                <table style="width:100%" cellpadding="20px">
                    <tr>
                        <th>
                            <div class="desc">
                                <a id="all" name="all" class="category" href="" style="color: #f7941e">전체</a>
                            </div>
                        </th>
                        <th>
                            <div class="desc">
                                <a id="hearthstone" name="hearthstone" class="category" href="" style="color: white">하스스톤</a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="desc">
                                <a id="overwatch" name="overwatch" class="category" href="" style="color: white">오버워치</a>
                            </div>
                        </th>
                        <th>
                            <div class="desc">
                                <a id="lol" name="lol" class="category" href="" style="color: white">롤 LOL</a>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="looking_mobile">
                <div class="abc">
                    <div class="looking_list">
                        <a id="time" name="time" class="filter" href="" style="color: #f7941e">날짜순</a>
                        <span style="margin-left: 10px">|</span>
                        <a id="popular" name="popular" class="filter" href="" style="color: white; margin-left: 10px">인기순</a>
                        <span style="margin-left: 10px">|</span>
                        <a id="reward" name="reward" class="filter" href="" style="color: white; margin-left: 10px">상금순</a>
                    </div>
                </div>
                <div class="looking_com">
                    {% if making %}
                        <a href="{% url 'darkhumor' %}">
                            <div class="looking_picture1">
                                <img src="{% static 'img/darkhumor_thumbnail.png' %}" style="margin-bottom: 10px">
                                <div class="pic_title">{{ making.tournament_name }}</div>
                                <div class="pic_subtitle">{{ making.summary }}</div>
                                <div class="pic_dscrp" style="margin-top: 10px">
                                    <span style="color: #ffffff">후원자수</span> <a class="pic_num">{{ funding.count }}<span style="color: #ffffff"> 명</span></a></br>
                                    모인상금 <a class="pic_num">{{ total_amount.amount__sum }}<span style="color: #ffffff"> 원</span></a></br>
                                    마감기한 <a class="pic_num">{{ making.endtime }}<span style="color: #ffffff"> 일</span></a>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'competition' %}">
                            <div class="looking_picture1">
                                <img src="{% static 'nowcompetition/image.png' %}" style="margin-bottom: 10px">
                                <div class="pic_title">하스스톤 레전드매치</div>
                                <div class="pic_subtitle">하스스톤 레전드 매치는 BJ최미갈과 함께 진행되는 4강으로 구성된 하스스톤 매치입니다.</div>
                                <div class="pic_dscrp" style="margin-top: 10px">
                                    <span style="color: #ffffff">후원자수</span> <a class="pic_num">34<span style="color: #ffffff"> 명</span></a></br>
                                    모인상금 <a class="pic_num">572,000<span style="color: #ffffff"> 원</span></a></br>
                                    마감기한 <a class="pic_num">9월 26일 / 마감<span style="color: #ffffff"> 일</span></a>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>

                <div class="now_order">
                    <button type="button" class="btn btn-default">
                        더보기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- scroll-top-wrapper -->
    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            /* scroll-top-wrapper */
            $(function(){
                $(document).on( 'scroll', function(){
                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });
                $('.scroll-top-wrapper').on('click', scrollToTop);
            });
            function scrollToTop() {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }
            /* 게임별 대회 카테고리 누를 시 글자색 변하기 */
            $('.category').on('click',function() {
                $('.category').css('color', 'white');
                $('#'+this.id).css('color', '#f7941e');
                return false;
            });
            /* 필터 기능 누를 시 글자색 변하기 */
            $('.filter').on('click',function() {
                $('.filter').css('color', 'white');
                $('#'+this.id).css('color', '#f7941e');
                return false;
            });
        });
    </script>
{% endblock %}
