{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:대회 둘러보기 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom_kyoungin.css' %}">
{% endblock %}

{% block content %}
   <div class="looking-header">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="looking_table">
              <div class="table_title" >게임별 대회
              </div>
              <table style="width:100%" cellpadding="20px">
                <tr>
                  <th>
                      <div class="desc">
                        <span style="color: #ff9900">전체</span>
                      </div>
                  </th>
                  <th><div class="desc">하스스톤</div></th>
                </tr>
                <tr>
                  <th>
                      <div class="desc">오버워치</div>
                  </th>
                  <th>
                      <div class="desc">LOL</div>
                  </th>
                </tr>
              </table>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="looking_mobile">
                <div class="abc">
                    <div class="looking_list">
                        <span style="color: #ff9900">날짜순</span>
                        <span style="margin-left: 10px">|</span>
                        <span style="margin-left: 10px">인기순</span>
                        <span style="margin-left: 10px">|</span>
                        <span style="margin-left: 10px">상금순</span>
                    </div>
                </div>
                <div class="looking_com">
                    <div class="looking_picture1">
                        <img src="../../static/nowcompetition/image1.png">
                        <div class="pic_title">울산대 VS UNIST 롤대전</div>
                        <div class="pic_subtitle">울산대학교 롤 대전 예선이 진행중 입니다.</div>
                        <div class="pic_dscrp">
                        후원자수 <a class="pic_num">234<span style="color: #ffffff">명</span></a></br>
                        모인상금 <a class="pic_num">200,000<span style="color: #ffffff">원</span></a></br>
                        마감기한 <a class="pic_num">D-14<span style="color: #ffffff">일</span></a>
                        </div>
                    </div>
                    <div class="looking_empty">
                    </div>
                    <div class="looking_picture2">
                        <img  src="../../static/nowcompetition/image2.png">
                        <div class="pic_title">피파 아마추어 대회</div>
                        <div class="pic_subtitle">경기 지역 피파 결승전 진행중입니다.</div>
                        <div class="pic_dscrp">
                        후원자수 <a class="pic_num">23<span style="color: #ffffff">명</span></a></br>
                        모인상금 <a class="pic_num">100,000<span style="color: #ffffff">원</span></a></br>
                        마감기한 <a class="pic_num">D-34<span style="color: #ffffff">일</span></a>
                        </div>
                    </div>
                    <div class="looking_picture3">
                        <img  src="../../static/nowcompetition/image3.png">
                        <div class="pic_title">오버워치 아마추어 대회</div>
                        <div class="pic_subtitle">경남 지역 예선이 진행중 입니다.</div>
                        <div class="pic_dscrp">
                        후원자수 <a class="pic_num">301<span style="color: #ffffff">명</span></a></br>
                        모인상금 <a class="pic_num">123,000<span style="color: #ffffff">원</span></a></br>
                        마감기한 <a class="pic_num">D-12<span style="color: #ffffff">일</span></a>
                        </div>
                    </div>
                    <div class="looking_picture4">
                        <img  src="../../static/nowcompetition/image4.png">
                        <div class="pic_title">하스스톤 마스터즈 대회</div>
                        <div class="pic_subtitle">서울 지역 예선이 진행중 입니다.</div>
                        <div class="pic_dscrp">
                        후원자수 <a class="pic_num">101<span style="color: #ffffff">명</span></a></br>
                        모인상금 <a class="pic_num">93,000<span style="color: #ffffff">원</span></a></br>
                        마감기한 <a class="pic_num">D-14<span style="color: #ffffff">일</span></a>
                        </div>
                    </div>
                </div>

                <div class="now_order">
                    <button type="button" class="btn btn-default">
                        더보기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- scroll-top-wrapper -->
    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            /* scroll-top-wrapper */
            $(function(){
                $(document).on( 'scroll', function(){

                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });

                $('.scroll-top-wrapper').on('click', scrollToTop);
            });

            function scrollToTop() {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }
        });
    </script>
{% endblock %}