{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} 오픈아레나:{{ making.tournament_name }} {% endblock %}
{% block head %}
    <!--participation.css-->
    <link rel="stylesheet" href="{% static 'css/participation.css' %}">

{% endblock %}
{% block content %}
    <div class="block-b">
        <div class="com_header" style="background:url({% static "img/macho/macho_cover.png" %}) center center no-repeat; background-size: cover;">
            <div class="com_empty">
            </div>
            <div class="com_header_inner">
                <div class="container">
                    <!--프로필칸-->
                    <div class="col-sm-3 col-md-2 col-md-offset-1 hidden-xs" >
                        <div class="com_profile" style="background: url({% static 'img/macho/macho_logo.png' %}); background-size: contain;"></div>
                    </div>
                    <!--대회설명-->
                    <div class="col-sm-6 col-md-6 col-xs-12 ">
                        <div class="com_title">{{ making.tournament_name }}</div></br>
                        <p class="com_subtitle hidden-xs">{{ making.summary }}</p>
                        <div class="com_subtitle">대회 일정 : {{ making.starttime }}</div></br>
                    </div>
                    <!--후원/참가-->
                    <div class="col-sm-3 col-md-3 col-xs-12 ">
                        <ul class="com_mainbox">
                            <li class="">
                                <div class="" >
                                    <div class="center">
                                        <button id="funding" name="funding" class="btn btn-primary center-block" data-toggle="modal" data-target="#fundingModal">후원하기</button>
                                    </div>
                                </div>

                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="" >
                                    <div class="center">
                                        <button disabled id="participation" name="participation" class="btn btn-primary center-block" data-toggle="modal" data-target="#participationModal">참가마감</button>
                                    </div>
                                </div>
                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="center">
                                    <button id="streaming" name="streaming" class="btn btn-primary center-block" data-toggle="modal" data-target="#streamingModal">방송보기</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--상금바-->
                    <div class="col-sm-10 col-md-10 col-xs-10 col-md-offset-1 ">
                        <h4 id="comma1" class="com_title">
                            후원 목표 : {{ making.funding_goal|intcomma }}원 / 현재 : {{ total_amount.amount__sum|intcomma }}원 후원 해주셨습니다
                        </h4>
                        <p class="com_subtitle">* 홈페이지 후원 금액과 후원자 명단은 30분 마다 갱신됩니다.</p>
                        <!--
                        <div class="com_white_bar">
                            <div class="com_orange_bar"></div>
                        </div>
                        -->
                    </div>
                </div>

            </div>
        </div>
        <div class="com_mid">
            <!--competition list-->
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <!-- 대회 소개 -->
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary no_border " href="#com_tab1" data-toggle="tab">
                        <div class="list_btn">대회 소개</div>
                    </button>
                </div>
                <!-- 참여한 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab3" data-toggle="tab">
                        <div class="list_btn">참가자</div>
                    </button>
                </div>
                <!-- 후원자 댓글 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab4" data-toggle="tab">
                        <div class="list_btn">후원자 댓글</div>
                    </button>
                </div>
                <!-- 후원자 명단 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab5" data-toggle="tab">
                        <div class="list_btn">후원자 명단</div>
                    </button>
                </div>
            </div>
            <!--competition list-->
            <!--competition content-->
            <div class="tab-content">
                <!--competition content 1-->
                <div class="tab-pane fade in active" id="com_tab1">
                    <div class="com_intro">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="com_intro_img">
                                <img src="{% static 'img/macho/macho_poster.jpg' %}">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="container com_intro_now">
                                {% if funding %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ funding.count }}</span> 명</div><br>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ total_amount.amount__sum|intcomma }}</span> 원</div><br>
                                {% else %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 원</div><br>
                                {% endif %}
                                <div class="com_into_small">마감 기한</div>
                                <div class="com_into_small"><span class="com_into_big">{{ making.endtime }}</span> 일</div><br>
                                {% if participation %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ participation.count }}</span> 명</div><br>
                                {% else %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br>
                                {% endif %}
                                <div class="com_into_small">
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="com_intro_desp">
                                <a>1. 대회소개</a></br>
                                <blockquote>
                                    프로, 아마추어 게이머 구분없이 마스터 상위권 이상의 실력이 입증되는 유저로 신청을 받으며, 경기는 16강으로 구성됩니다.</br>
                                    ① 16강 : 3판 2선승제 (승자전, 패자전, 최종전을 이용하는 더블 엘리미네이션 방식으로 진행 - 총 4일)</br>
                                    ② 8강 : 3판 2선승제 (총 2일)</br>
                                    ③ 4강 : 3,4위전 & 결승전 (총 1일)</br>
                                    <blockquote>
                                        <a>경기일정 : 11월 19일 ~ 11월 27일</a></br>
                                        ① 11월 19일 9PM : 개막 및 16강 A조</br>
                                        ② 11월 20일 9PM : 16강 B조</br>
                                        ③ 11월 21일 9PM : 16강 C조</br>
                                        ④ 11월 23일 9PM : 16강 D조</br>
                                        ⑤ 11월 25일 9PM : 8강 1일차</br>
                                        ⑥ 11월 26일 9PM : 8강 2일차</br>
                                        ⑦ 11월 27일 9PM : 4강, 3/4위전, 결승전</br>
                                    </blockquote>
                                </blockquote>
                                <a>2. 후원금에 대한 상금 분배 방안</a></br>
                                <blockquote>
                                    총 상금 20만원 + α (세금 및 수수료 제외)</br>
                                    ① 1등 : 50%</br>
                                    ② 2등 : 30%</br>
                                    ③ 3등 : 20%</br>
                                </blockquote>
                                <a>3. 후원자 보상 정보</a></br>
                                <blockquote>
                                    ① 만원 이상의 후원자 상위 4명 : 대회 최고의 선수들과 함께하는 아바타 매치를 제공해드립니다.</br>
                                    <blockquote>
                                        후원자 두 명이 각각 우승자 준우승자와 스카이프 연결 후 게임을 알려주는 방식으로 진행됩니다.</br>
                                    </blockquote>
                                    ② 모든 후원자 : 모든 후원자 분들을 기억하기 위해 모든 분들의 이름을 대회의 엔딩 크레딧에 담아드립니다.<br>
                                </blockquote>
                                <a>4. 경기진행 규칙</a></br>
                                <blockquote>
                                    1. 대진표가 나온 뒤 자신의 경기 시작 최소 10분 전에 게임 내에 접속하여 대기합니다. 잠수 불가.</br>
                                    2. 마초방송은 대회 기간동안 AfreecaTV(720P), Daum Pot TV(720P), TwitchTV(1080P), Youtube(1080P)이 네 군데 플랫폼에 동시에 방송이 진행되며, 이 네 플랫폼 모두 1분 지연방송을 기본으로 합니다.
                                    <blockquote>
                                        온라인 리그 특성상 방송을 보며 게임을 플레이하는 행위를 막기 위함입니다.</br>
                                    </blockquote>
                                    3. 선수는 결승전을 제외한 모든 경기에서 제외맵을 선택해야 합니다.</br>
                                    4. 경기를 진행하는 게임 안에서는 잡담 채팅을 금합니다. 기본적인 gg, hf, gl, ppp 등은 상관 없습니다.
                                    <blockquote>
                                        게임 퍼즈 후 대화는 해당하지 않습니다.</br>
                                    </blockquote>
                                    5. 경기를 진행하는 게임 안에서 마패, 우치하의 사륜안 (맵핵) 사용을 일절 금합니다.</br>
                                    6. 선수는 경기 전 자신이 사용하는 단축키와 감도셋팅 그래픽셋팅을 완전하게 맞춰두도록 합니다.</br>
                                    7. 경기에서 팅기거나 게임에 문제가 생긴 경우 복구모드를 이용합니다.</br>
                                    <blockquote>
                                        복구모드 불가 시 재량껏 승패처분 혹은 재경기를 할 수 있습니다.
                                    </blockquote>
                                    8. 경기에서는 양 선수간 잘 아는 사이이더라도 공손한 존댓말을 사용합니다.</br>
                                    9. 위에 명시된 규칙에 명시되지 않은 여타 다른 문제들은 진행자 MC마초 재량껏 판단할 수 있습니다.</br>
                                    10. 멋진 경기를 위해 최선을 다합니다. 불리한 상황을 극복하는 플레이가 스타크래프트2를 보는 묘미라 생각합니다.</br>
                                    <blockquote>
                                        선수분들이 혼자 래더를 하는 것이 아니라 시청자분들이 함께 본다는 것을 잊지 말아 주십시요.
                                    </blockquote>
                                </blockquote>
                                <a>[환불 규정]</a></br>
                                1. 펀딩 성공과 동시에 대회 일정이 시작되는 특성상 펀딩 마감 이후 환불이 불가능한 점 양해 부탁드립니다.</br>
                                2. 대회가 불가피하게 중단된 경우에는 결제 수수료를 제외한 금액을 대회 중단 확정 후 3일 이내에 환불해드립니다.</br>
                            </div>
                        </div>
                    </div>
                </div>

                <!--competition content 3 대진표-->
                <div class="tab-pane fade in" id="com_tab3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="com_intro_desp">
                            <img src="{% static 'img/macho/macho_match_final.png' %}" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="com_intro_desp">
                            {% if participation %}
                                <a style="color: white">현재 {{ participation.count }} 명</a>
                            {% else %}
                                <a style="color: white">현재 0 명</a>
                            {% endif %}

                            <div class="donator_container">
                                {% if participation %}
                                    {% for p in participation %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>참가 번호 {{ forloop.counter }} - {{ p.username }} 님 [소속 리그 : {{ p.etc3 }} | MMR : {{ p.etc4 }}]</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade in" id="com_tab4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="com_intro_desp">
                            <form id="reply_form" action="{% url 'whyachi' %}" method="POST">{% csrf_token %}
                                <input type="hidden" class="form-control" id="purpose" name="purpose" value="reply">
                                <div class="com_donatelist_box">
                                    <textarea id="comment" name="comment" class="form-control com_donate_desp" rows="3" placeholder=" 대회 응원 댓글을 입력해 주세요. (후원자만 입력 가능합니다.)" ></textarea>
                                    <button type="submit" class="btn btn-primary com_donate_enroll">등록</button>
                                </div>
                            </form>
                            <a class="donator_title">후원 댓글 보기</a>
                            <div class="donator_container">
                                {% if reply %}
                                    {% for r in reply %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ r.username }} 님 : {{ r.comment }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!--competition content 5 후원자 명단-->
                <div class="tab-pane fade in" id="com_tab5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="com_intro_desp">
                            <p class="don_list">* 홈페이지 후원 금액과 후원자 명단은 30분 마다 갱신됩니다.</p>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">Top3 후원자</a>
                            <div class="donator_container">
                                {% if funding %}
                                    {% for tf in top_funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ tf.username }} 님 : {{ tf.amount|intcomma }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">후원해주신 분들</a>
                            <br>
                            <a style="color: white">현재 {{ funding.count }} 명</a>
                            <div class="donator_container">
                                {% if funding %}
                                    {% for f in funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ f.username }} 님 : {{ f.amount|intcomma }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--competition content-end-->

            <!--donate-->
            <div class="modal fade" id="fundingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 후원하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="funding_form" action="{% url 'whyachi' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputPassword1">후원하실 금액을 선택해주세요.</label>
                                </div>
                                <input type="hidden" class="donate_submit" id="purpose" name="purpose" value="funding">
                                <select id="funding_amount" name="funding_amount" class="form-control">
                                    <option value="1000">1,000원</option>
                                    <option value="3000">3,000원</option>
                                    <option value="5000">5,000원</option>
                                    <option value="10000">10,000원</option>
                                    <option value="20000">20,000원</option>
                                    <option value="50000">50,000원</option>
                                </select>
                                </br>
                                * 팝업 기능을 허용해주셔야하며, 모바일이 아닌 PC환경에서 후원 가능한 점을 양해부탁드립니다.</br>
                                * 만원 이상의 후원자 상위 4명 : 대회 최고의 선수들과 함께하는 아바타 매치를 제공해드립니다.</br>
                                * 모든 후원자 분들을 기억하기 위해 모든 분들의 이름을 대회의 엔딩 크레딧에 담아드립니다.</br>
                                <button type="submit" class="join_submit">후원하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--participation in-->
            <div class="modal fade" id="participationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 참가하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="participation_form" action="{% url 'whyachi' %}" method="POST">{% csrf_token %}
                                <input type="hidden" class="form-control" id="purpose" name="purpose" value="participation">
                                <div class="form-group">
                                    <label for="participation_username">참가자 성함 (상금 지급 및 대회 참가 확인을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_name" name="participation_name" placeholder="예) 홍길동">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc1">배틀넷 이메일</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc1" name="participation_etc1" placeholder="예) battle@starcraft.com">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc2">주 종족</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc2" name="participation_etc2" placeholder="예) 테란/프로토스/저그">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc3">소속 리그</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc3" name="participation_etc3" placeholder="예) 실버 리그">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc4">MMR</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc4" name="participation_etc4" placeholder="예) 1870">
                                </div>
                                <div class="form-group">
                                    <label for="participation_phone">참가자 연락처 (상금 지급 및 대회 참가 확인을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_phone" name="participation_phone" placeholder="예) 010-1234-5678">
                                </div>
                                * 참가 완료 확인 후 단체 카톡방 링크를 연락처로 보내드리도록 하겠습니다.
                                </br>
                                <button type="submit" class="join_submit">참가하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--streaming URL-->
            <div class="modal fade" id="streamingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">방송 보러가기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">시청하실 스트리밍 사이트를 선택해주세요.</label>
                                <p class="don_list">* 스트리밍 방송은 동시에 진행되며, 부정행위 방지를 위해 1분 지연방송을 기본으로 합니다.</p>
                            </div>
                            <button name="funding_amount" id="button_afreeca" name="button_afreeca" class="donate_submit">
                                아프리카tv
                            </button>
                            <button name="funding_amount" id="button_twitch" name="button_twitch" class="donate_submit" style="margin-left: 20px;">
                                트위치(twitch)
                            </button>
                            </br></br>
                            <button name="funding_amount" id="button_youtube" name="button_youtube" class="donate_submit">
                                유투브(youtube)
                            </button>
                            <button name="funding_amount" id="button_daumtvpot" name="button_daumtvpot" class="donate_submit"style="margin-left: 20px;">
                                다음tv팟
                            </button>
                            </br></br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $(".btn-pref .btn").click(function(){
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });

            {% if request.user.is_authenticated %}
                {% if has_funded == "yes" %}
                    document.getElementById("comment").disabled = false;
                {% else %}
                    document.getElementById("comment").disabled = true;
                {% endif %}
            {% else %}
                $("#funding").click(function(){
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                $("#participation").click(function(){
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                document.getElementById("comment").disabled = true;
            {% endif %}

            $("#button_afreeca").click(function(){
                window.open("http://afreeca.com/macho1929")
            });
            $("#button_twitch").click(function(){
                window.open("https://twitch.tv/macho1929")
            });
            $("#button_youtube").click(function(){
                window.open("https://youtube.com/c/mcmachotv")
            });
            $("#button_daumtvpot").click(function(){
                window.open("http://tvpot.daum.net/macho1929a.live")
            });

            $("#funding_form").submit(function(e) {
                e.preventDefault();
                serializedData = $("#funding_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/macho/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        window.open(response.status)
                    }
                });
            });

            $("#participation_form").submit(function(e) {
                e.preventDefault();
                serializedData = $("#participation_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/macho/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert('대회 참가 신청이 정상적으로 제출되었습니다.');
                            location.reload();
                        }
                    }
                });
            });

            $("#reply_form").submit(function(e) {
                e.preventDefault();
                serializedData = $("#reply_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/macho/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert('댓글이 등록되었습니다.');
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d75e1fa49a7bd2"></script>

{% endblock %}
