{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:대회 만들기 {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_kyoungin.css' %}">
{% endblock %}

{% block content %}
    <div class="making-header">
        <div  class="making_side" >
        </div>
        <div class="making_start">
            <div class="making_font">대회 만들기</div>
            <div style="margin-top: 10px"> &nbsp; * 대회 양식 작성 후 운영자 검토와 전화 미팅을 통해 대회 개최가 결정됩니다.</div>
        </div>

        <div class="making_content">
            <form id="making_form" class="form-inline" action="{% url 'making' %}" method="POST">{% csrf_token %}
                <div class="bar_2">

                </div>
                <!-- 대회명칭 : 필수항목 -->
                <div class="looking-group div_tournament_name">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                      <label class="making_font" for="tournament_name">대회 명칭&nbsp;<span style="color: #f7941e;">*</span></label>
                    </div>
                    <input type="text" required autocomplete="off" class="form-control" id="tournament_name" name="tournament_name" placeholder="예) 오버워치 대회">
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="대회의 이름을 입력해주세요. 예) 오픈아레나 스타크래프트 토너먼트"></span>
                </div>

                <!-- 게임종류 : 필수항목 -->
                <div class="looking-group div_tournament_game">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                      <label class="making_font" for="tournament_game">게임 종류&nbsp;<span style="color: #f7941e;">*</span></label>
                    </div>
                    <input type="text" required autocomplete="off" class="form-control" id="tournament_game" name="tournament_game" placeholder="예) 오버워치">
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="진행하려는 대회의 게임 종목을 입력해주세요. 예) 하스스톤"></span>
                </div>

                <!-- 대회 주소설정 : 필수항목 -->
                <div class="looking-group div_tournament_url">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                      <label class="making_font" for="tournament_url">주소 설정 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">openarena.kr/</span>
                        <input type="text" required autocomplete="off" class="form-control" id="tournament_url" name="tournament_url" aria-describedby="basic-addon3" placeholder="예) overwatch (한글 불가)">
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign tournament_url" aria-hidden="true" data-toggle="tooltip" title="펀딩 및 참가 페이지의 주소를 설정해주세요. 예) openarena.co.kr/overwatch"></span>
                    <div class="btn-group error1" style="display: none;">
                        <div class="input-group" style="margin-top: 6px; color: #f7941e;">
                            <p>&nbsp;이미 존재하는 대회 url입니다.</p>
                        </div>
                    </div>
                </div>

                <!-- 방송 주소설정 : 필수항목 -->
                <div class="looking-group div_streaming_url">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                      <label class="making_font" for="streaming_url">방송 주소 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="btn-group">
                        <select id="streaming_url" name="streaming_url" class="form-control">
                            <option value="default">선택해주세요</option>
                            <option value="afreecatv">아프리카(afreeca)</option>
                            <option value="twitch">트위치(twitch)</option>
                            <option value="youtube">유투브(youtube)</option>
                            <option value="facebook">페이스북(facebook)</option>
                            <option value="none">계정 없음</option>
                        </select>
                    </div>

                    <!-- js hide & show : afreeca tv -->
                    <div class="btn-group streaming afreecatv" style="display: none;">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">play.afreecatv.com/</span>
                            <input id="input_afreecatv" name="input_afreecatv" type="text" class="form-control" placeholder="예) overwatch" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <!-- js hide & show : twitch -->
                    <div class="btn-group streaming twitch" style="display: none;">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">twitch.tv/</span>
                          <input id="input_twitch" name="input_twitch" type="text" class="form-control" placeholder="예) overwatch" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <!-- js hide & show : youtube -->
                    <div class="btn-group streaming youtube" style="display: none;">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">youtube.com/</span>
                          <input id="input_youtube" name="input_youtube" type="text" class="form-control" placeholder="예) overwatch" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <!-- js hide & show : facebook -->
                    <div class="btn-group streaming facebook" style="display: none;">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">facebook.com/</span>
                          <input id="input_facebook" name="input_facebook" type="text" class="form-control" placeholder="예) overwatch" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign streaming_url" aria-hidden="true" data-toggle="tooltip" title="대회가 방송되는 스트리밍 주소를 입력해주세요."></span>
                    <div class="btn-group error2" style="display: none;">
                        <div class="input-group" style="margin-top: 6px; color: #f7941e;">
                            <p>&nbsp;방송 주소를 선택해주세요.</p>
                        </div>
                    </div>
                </div>

                <div class="bar_2">

                </div>

                <!-- 대회 등록 방식 : 필수항목 -->
                <div class="looking-group div_registration">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <label class="making_font" for="registration">대회 등록 방식 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="btn-group">
                        <select id="registration" name="registration" class="form-control">
                            <option value="default">선택해주세요</option>
                            <option value="personal_invite">개인 초대 등록</option>
                            <option value="team_invite">팀별 초대 등록</option>
                            <option value="personal_register">개인 신청 등록</option>
                            <option value="team_register">팀별 신청 등록</option>
                        </select>
                    </div>

                    <!-- js hide & show : 대회 등록 방식 + 팀 인원수(Registration_team) -->
                    <div class="btn-group registration_team team_invite team_register" style="display: none;">
                        <div class="input-group">
                          <input type="text" class="form-control" id="registration_team" name="registration_team" placeholder="예) 6" aria-describedby="basic-addon1">
                          <span class="input-group-addon">명이 한팀</span>
                        </div>
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="개인적으로 참가를 받는지, 팀으로 참가를 받는지 혹은 참가를 받지 않고 초청전으로 진행되는 지를 선택해주세요."></span>
                    <div class="btn-group error8" style="display: none;">
                        <div class="input-group" style="margin-top: 6px; color: #f7941e;">
                            <p>&nbsp;대회 등록 방식을 선택해주세요.</p>
                        </div>
                    </div>
                </div>

                <!-- 최대 참가자 수 : 필수항목 -->
                <div class="looking-group div_participant">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="participant">최대 참가자 수 <span style="color: #f7941e;">*</span></label>
                     </div>
                    <div class="input-group">
                        <input type="text" required autocomplete="off" class="form-control" id="participant" name="participant" placeholder="예) 200">
                        <span class="input-group-addon">명</span>
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="대회가 진행되는 최대 참가자 수를 결정합니다. 2의 제곱수로 진행하는 것이 일반적입니다. 참가자 수 이상이 등록할 경우 대기자 명단이 만들어집니다."></span>
                </div>

                <!-- 대회 시작 시간 : 필수항목 -->
                <div class="looking-group div_starttime">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="starttime">대회 시작 시간 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" required autocomplete="off" class="form-control" id="starttime" name="starttime" placeholder="클릭해주세요">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="대회 시작 시간을 결정합니다. 대회 시작 시간에 따라 출석체크 기능을 설정할 수 있습니다."></span>
                </div>

                <!-- 참가자 체크인 : 선택항목 -->
                <div class="looking-group div_checkin">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="checkin">참가자 체크인 <span style="color: #f7941e;"></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="checkin" name="checkin" value="checkin" style="margin-top: 10px"> &nbsp;참가자 체크인 기능을 사용하시겠습니까?</label>
                        &nbsp;<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="참가자 체크인 기능을 사용하시면 대회 지정 시간 전까지 체크인을 하지 않은 참가자는 자동 탈락되게 됩니다."></span>
                    </div>
                </div>

                    <!-- js hide & show : check-in time -->
                    <div class="looking-group div_checkin_time" style="display: none;">
                        <div class="col-xs-10 col-sm-3 col-md-3">
                        </div>
                        <div class="input-group">
                            대회 시작
                        </div>
                        <div class="input-group">
                            <select id="checkin_time" name="checkin_time" class="form-control">
                                <option value="default">선택해주세요</option>
                                <option value="15min">15분</option>
                                <option value="30min">30분</option>
                                <option value="1hour">1시간</option>
                                <option value="2hour">2시간</option>
                                <option value="6hour">6시간</option>
                                <option value="1day">1일</option>
                                <option value="2day">2일</option>
                            </select>
                        </div>
                        <div class="input-group">
                            이전에 체크인을 해야합니다.
                        </div>
                        <div class="btn-group error9" style="display: none">
                            <div class="input-group" style="margin-top: 10px; color: #f7941e;">
                                <p>&nbsp;체크인 시간을 선택해주세요.</p>
                            </div>
                        </div>
                    </div>

                <!-- 규칙 세부 사항 : 선택항목 -->
                <div class="looking-group div_description" style="margin-top: 30px">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="description">규칙 세부 사항</label>
                        &nbsp;
                    </div>
                    <textarea required autocomplete="off" class="form-control" id="description" name="description" rows="3" placeholder="자유롭게 규칙 세부 사항을 적어주세요." style="width: 60%; height: 120px;"></textarea>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="대회의 원활한 진행을 위해 대회 규칙에 대한 과도할 정도로 세세한 사항을 적어주세요." style="vertical-align: top;"></span>
                </div>

                <div class="bar_2">

                </div>

                <!-- 목표 금액 : 필수항목 -->
                <div class="looking-group div_funding_goal">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="funding_goal">목표 금액 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" required autocomplete="off" class="form-control" id="funding_goal" name="funding_goal" placeholder="예) 200,000">
                        <span class="input-group-addon">원</span>
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="대회가 진행되는 최소 목표 후원 금액을 적어주세요."></span>
                </div>

                <!-- 공약 내용 : 선택항목 -->
                <div class="looking-group div_promise">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="promise">공약 내용 </label>
                    </div>
                    <!-- js dynamic form fields : add -->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="promise" name="promise[]" placeholder="예) 100,000" />
                            <span class="input-group-addon">원에 도달하면</span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="promise_spec" name="promise_spec[]" placeholder="예) 참가팀 전원에게 선물">
                            <span class="input-group-btn">
                                <button class="btn btn-success addButton" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="목표 후원 금액을 넘어 더욱 더 많은 사람들이 후원에 참여할 수 있도록 공약 금액과 공약을 적어주세요."></span>

                    <!-- js dynamic form fields : remove -->
                    <div class="hide remove-group" id="promiseTemplate">
                        <div class="col-xs-10 col-sm-3 col-md-3">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="promise" name="promise[]" placeholder="예) 200,000" />
                                <span class="input-group-addon">원에 도달하면</span>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="promise_spec" name="promise_spec[]" placeholder="예) 참가팀 전원에게 선물">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger removeButton" type="button">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 후원자 보상 : 선택항목 -->
                <div class="looking-group div_reward">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="reward">후원자 보상 </label>
                    </div>
                    <!-- js dynamic form fields : add -->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="reward" name="reward[]" placeholder="예) 10,000">
                            <span class="input-group-addon">원을 후원하면</span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="reward_spec" name="reward_spec[]" placeholder="예) 마우스패드를 드려요">
                            <span class="input-group-btn">
                                <button class="btn btn-success addButton" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="후원자들이 좋아할만한 상품을 통해 후원을 장려해주세요."></span>

                    <!-- js dynamic form fields : remove -->
                    <div class="hide remove-group" id="rewardTemplate">
                        <div class="col-xs-10 col-sm-3 col-md-3">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="reward" name="reward[]" placeholder="예) 20,000" />
                                <span class="input-group-addon">원에 도달하면</span>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="reward_spec" name="reward_spec[]" placeholder="예) 마우스패드를 드려요">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger removeButton" type="button">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bar_2">

                </div>

                <!-- 참가자 양식 : 필수항목 -->
                <div class="looking-group div_template">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="template">참가자 양식 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="checkbox">
                      <label><input id="template_name" name="template_name" type="checkbox" checked="checked" value="template_name" style="margin-bottom: 15px" disabled> &nbsp;참가자명 / 팀명 (필수)</label>
                      &nbsp;<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="참가자들이 대회 신청 시 적어야 하는 사항에 대하여 체크해주세요."></span>
                      <br>
                      <label><input id="template_phone" name="template_phone" type="checkbox" value="template_phone" style="margin-bottom: 15px"> &nbsp;참가자 연락처</label>
                      <br>
                      <label><input id="template_email" name="template_email" type="checkbox" value="template_email" style="margin-bottom: 10px"> &nbsp;참가자 이메일</label>
                      <br>
                      <label><input id="template_etc" name="template_etc" type="checkbox"> &nbsp;추가 필요양식</label>
                      &nbsp;<input id="input_template_etc" name="input_template_etc" type="text" class="form-control" placeholder="예) 성별, 나이, 덱, 레벨">
                    </div>
                </div>

                <!-- 연락처 정보 : 필수항목 -->
                <div class="looking-group div_phone">
                    <div class="col-xs-10 col-sm-3 col-md-3">
                        <label class="making_font" for="phone">연락처 정보 <span style="color: #f7941e;">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" required autocomplete="off" class="form-control" id="phone" name="phone" placeholder="예) 010-1234-5678">
                        <span class="input-group-addon">운영진이 연락드릴 번호</span>
                    </div>
                    &nbsp;
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="참가자 혹은 후원자들이 연락할 수 있는 연락처를 적어주세요."></span>
                </div>

                <div class="bar_2">

                </div>

                <!-- 제출하기 -->
                <div class="looking-group">
                    <button type="submit" class="btn btn-default">제출하기</button>
                </div>
            </form>
        </div>
    </div>

    <!-- scroll-top-wrapper -->
    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
        $(document).ready(function(){
            /* 한글을 제외한 입력만 가능하게 : tournament_url */
            $("input[name=tournament_url]").keyup(function(event){
                if (!(event.keyCode >=37 && event.keyCode<=40)){
                    var inputVal = $(this).val();
                    $(this).val(inputVal.replace(/[^a-z0-9]/gi,''));
                }
            });
            /* 숫자와 소수점 입력이 가능하도록 */
            $("input[name=registration_team], input[name=participant], input[name=funding_goal], input[name=promise], input[name=reward]").keyup(function(event){
                if (!(event.keyCode >=37 && event.keyCode<=40)) {
                    var inputVal = $(this).val();
                    inputVal = inputVal.replace(/[^0-9\.]/gi,'');
                    if(inputVal.split('.').length>2){
                        inputVal = inputVal.replace(/\.+$/,'');
                    }
                    $(this).val(inputVal);
                }
            });
            /* 공약내용 & 후원내용 금전 input : 숫자만 입력이 가능하도록 */
            $("input[name=promise], input[name=reward]").keyup(function(event){
                if (!(event.keyCode >=37 && event.keyCode<=40)){
                    var inputVal = $(this).val();
                    $(this).val(inputVal.replace(/[^0-9]/gi,''));
                }
            });

            /* streaming url dropdown 클릭 시 옆에 afreeca, twitch url 포맷 형성 */
            $('#streaming_url').change(function() {
                $(".streaming").hide();
                $(".error2").hide();
                /* input value 초기화 */
                document.getElementById("input_afreecatv").value = "";
                document.getElementById("input_twitch").value = "";
                document.getElementById("input_youtube").value = "";
                document.getElementById("input_facebook").value = "";
                /* input attr 초기화 */
                $("#input_afreecatv").removeAttr('required','');
                $("#input_afreecatv").removeAttr('autocomplete', 'off');
                $("#input_twitch").removeAttr('required','');
                $("#input_twitch").removeAttr('autocomplete', 'off');
                $("#input_youtube").removeAttr('required','');
                $("#input_youtube").removeAttr('autocomplete', 'off');
                $("#input_facebook").removeAttr('required','');
                $("#input_facebook").removeAttr('autocomplete', 'off');
                if(document.getElementById('streaming_url').value=="afreecatv"){
                    $("#input_afreecatv").attr('required','');
                    $("#input_afreecatv").attr('autocomplete', 'off');
                } else if(document.getElementById('streaming_url').value=="twitch") {
                    $("#input_twitch").attr('required', '');
                    $("#input_twitch").attr('autocomplete', 'off');
                } else if(document.getElementById('streaming_url').value=="youtube") {
                    $("#input_youtube").attr('required', '');
                    $("#input_youtube").attr('autocomplete', 'off');
                } else if(document.getElementById('streaming_url').value=="facebook") {
                    $("#input_facebook").attr('required', '');
                    $("#input_facebook").attr('autocomplete', 'off');
                }
                $("."+this.value).show();
            });

            /* registration 팀별 초대 등록 & 팀별 신청 등록 시 js hide & show */
            $('#registration').change(function() {
                $(".error8").hide();
                $(".registration_team").hide();
                /* input value 초기화 */
                document.getElementById("registration_team").value = "";
                /* input attr 초기화 */
                $("#registration_team").removeAttr('required','');
                $("#registration_team").removeAttr('autocomplete', 'off');
                if(document.getElementById('registration').value=="team_invite" || document.getElementById('registration').value=="team_register"){
                    $("#registration_team").attr('required','');
                    $("#registration_team").attr('autocomplete', 'off');
                }
                $("."+this.value).show();
            });

            /* 체크인 기능 사용 여부 : 체크 시 div hide & show */
            $('#checkin').change(function() {
                if (!this.checked) {
                    $('#checkin_time').val("default");
                    $('.div_checkin_time').hide();
                } else {
                    $('.div_checkin_time').show();
                }
            });

            /* 체크인 타임 리스트 변경 시 에러 메세지 삭제 */
            $('#checkin_time').change(function() {
                $('.error9').hide();
            });

            jQuery('#starttime').datetimepicker({
                step: 5,
                Locale: 'kr',
            });

            $('[data-toggle="tooltip"]').tooltip({
                position: {
                    my: "left top",
                    at: "right+10 top-10",
                    collision: "none"
                }
            });

            /* scroll-top-wrapper */
            $(function(){
                $(document).on( 'scroll', function(){
                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });

                $('.scroll-top-wrapper').on('click', scrollToTop);
            });

            function scrollToTop() {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            };

            /* 공약 추가 버튼 기능 구현 */
            /* Add button click handler */
            var MAX_OPTIONS = 10;
            var promise_number = 1;
            $('.div_promise').on('click', '.addButton', function() {
                if(promise_number < MAX_OPTIONS){
                    promise_number = promise_number + 1;
                    var $template = $('#promiseTemplate'),
                    $clone    = $template
                                    .clone()
                                    .removeClass('hide')
                                    .removeAttr('id')
                                    .insertBefore($template);
                } else {
                    $('.div_promise').find('.addButton').attr('disabled', 'disabled');
                }
            });
            /* Remove button click handler */
            $('.div_promise').on('click', '.removeButton', function() {
                promise_number = promise_number - 1;
                $('.div_promise').find('.addButton').removeAttr('disabled', 'disabled');
                var $row    = $(this).parents('.remove-group');

                // Remove element containing the option
                $row.remove();
            });

            /* 후원 추가 버튼 기능 구현 */
            /* Add button click handler */
            var MAX_OPTIONS = 10;
            var reward_number = 1;
            $('.div_reward').on('click', '.addButton', function() {
                if(reward_number < MAX_OPTIONS){
                    reward_number = reward_number + 1;
                    var $template = $('#rewardTemplate'),
                    $clone    = $template
                                    .clone()
                                    .removeClass('hide')
                                    .removeAttr('id')
                                    .insertBefore($template);
                } else {
                    $('.div_reward').find('.addButton').attr('disabled', 'disabled');
                }
            });
            /* Remove button click handler */
            $('.div_reward').on('click', '.removeButton', function() {
                reward_number = reward_number - 1;
                $('.div_reward').find('.addButton').removeAttr('disabled', 'disabled');
                var $row    = $(this).parents('.remove-group');

                // Remove element containing the option
                $row.remove();
            });

            /* 참가자 양식: 추가 기타양식 체크 시 input required attr 부여 */
            function disableTxt() {
                document.getElementById("input_template_etc").disabled = true;
            }
            function undisableTxt() {
                document.getElementById("input_template_etc").disabled = false;
            }
            disableTxt();
            $('#template_etc').change(function() {
                /* input attr 초기화 */
                $("#input_template_etc").removeAttr('required','');
                $("#input_template_etc").removeAttr('autocomplete', 'off');
                if(document.getElementById('template_etc').checked==true){
                    undisableTxt();
                    $("#input_template_etc").attr('required','');
                    $("#input_template_etc").attr('autocomplete', 'off');
                }
            });

            /* tournament_url 실시간 ajax 체크 */
            var tournament_url_error = 0;
            $("#tournament_url").focus(function(){
                /* 에러 변수 초기화 */
                /* tournament_url 새로 입력 시 error 메세지 hide */
                $(".error1").hide();
            });

            $("#tournament_url").submit(function(){
                /* ajax 실행 */
                serializedData = $("#making_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/tournament_url_check/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status=="error"){
                            $('.error1').show();
                            tournament_url_error = 1;
                        } else if(response.status=="success") {
                            $('.error1').hide();
                            tournament_url_error = 0;
                        }
                    }
                });
            });

            $("#making_form").submit(function(e){
                e.preventDefault();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                var error = 0;
                if(document.getElementById('streaming_url').value=="default"){
                    $('.error2').show();
                    error = 1;
                }
                if(document.getElementById('registration').value=="default"){
                    $('.error8').show();
                    error = 1;
                }
                if(document.getElementById('checkin').checked==true && document.getElementById('checkin_time').value=="default"){
                    $('.error9').show();
                    error = 1;
                }

                if(tournament_url_error==1 || error==1){
                    alert("대회 만들기에 성공하지 못했습니다. 오류 메세지가 뜬 항목들을 다시 입력해주세요.");
                } else {
                    /* 모든 error 체크가 다 끝난 후 data save를 위한 ajax 실행 */
                    serializedData = $("#making_form").serialize();
                    $.ajax({
                        type: 'POST',
                        url: '/making/',
                        data: serializedData,
                        dataType: 'json',
                        success: function(response) {
                            alert(response.message);
                        }
                    });
                }
            });
            /* script end */
        });
    </script>

{% endblock %}