{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:팀원 소개 {% endblock %}

{% block head %}
    <link href='{% static 'css/rotating-card.css' %}' rel='stylesheet' />
    <div class="head_empty"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="title">
                오픈아레나 팀원 소개
                <br>
                <small>누구나 승자가 될 수 있는 곳, 오픈아레나의 자랑스러운 팀원들입니다.</small>
            </h1>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/rotating_card_thumb2.png"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/sangwoo_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">한상우</h3>
                                        <p class="profession">대표</p>
                                        <p class="text-center">"내가 하고 있고 보고 있는 게임이 계속될 수 있는 e스포츠를 만들기 위해 노력하겠습니다."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"나는 내 운명의 주인, 내 영혼의 선장"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">한상우</h4>
                                        <p class="profession">대표</p>

                                        <div class="stats-container">
                                            <p class="text-center">"하시고 계신 일을 적어주세요."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/ismynametkddn?fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:sangwoo@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/rotating_card_thumb3.png"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/kyoungin_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">백경인</h3>
                                        <p class="profession">개발자</p>
                                        <p class="text-center">"행복의 원칙은, 첫째 어떤 일을 할 것, 둘째 어떤 사람을 사랑할 것, 셋째 어떤 일에 희망을 갖는 것라고 합니다. 저는 오픈아레나가 그 어떤 일이라고 생각합니다."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"나는 해야 한다. 그러므로 나는 할 수 있다."</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">백경인</h4>
                                        <p class="profession">개발자</p>

                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나 웹서비스를 개발하고 있습니다. 사람들이 어떻게 하면 쉽고 재밌게 대회를 만들고 참여할 수 있을지 고민하며 오픈아레나를 개발하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/kyoungin100?ref=bookmarks" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:kyoungin@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                        <a href="https://www.linkedin.com/in/kyoungin100" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/rotating_card_thumb2.png"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/heechul_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">안희철</h3>
                                        <p class="profession">개발자</p>
                                        <p class="text-center">"배는 항구에 묶어 두려고 만든 것이 아니다."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"배는 항구에 묶어 두려고 만든 것이 아니다."</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">안희철</h4>
                                        <p class="profession">개발자</p>

                                        <div class="stats-container">
                                            <p class="text-center">"하시고 계신 일을 적어주세요."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/profile.php?id=100004875210057&fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:heechul@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="space-30"></div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/rotating_card_thumb3.png"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/chan_profile.png"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">장찬</h3>
                                        <p class="profession">개발자</p>
                                        <p class="text-center">"거침없이 달려봅시다. 화이팅!"</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Do or do not, but always smile"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">장찬</h4>
                                        <p class="profession">개발자</p>

                                        <div class="stats-container">
                                            <p class="text-center">"하시고 계신 일을 적어주세요."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/profile.php?id=100005050955602&fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:chan@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/rotating_card_thumb2.png"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/seokhun_profile.png"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">서석훈</h3>
                                        <p class="profession">기획자</p>
                                        <p class="text-center">"게임하는데 이유가 어딨어, 그냥 하는거지."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"열심히 해봅시다!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">서석훈</h4>
                                        <p class="profession">기획자</p>

                                        <div class="stats-container">
                                            <p class="text-center">"하시고 계신 일을 적어주세요."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/profile.php?id=100005050955602&fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:chan@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/rotating_card_thumb3.png"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/minchae_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">김민채</h3>
                                        <p class="profession">디자이너</p>
                                        <p class="text-center">"우리 건강하고 행복하게 살아요 :)"</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Do it now!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">김민채</h4>
                                        <p class="profession">디자이너</p>

                                        <div class="stats-container">
                                            <p class="text-center">"하시고 계신 일을 적어주세요."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/kminchae?fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:chan@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="space-50"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            function rotateCard(btn){
                var $card = $(btn).closest('.card-container');
                console.log($card);
                if($card.hasClass('hover')){
                    $card.removeClass('hover');
                } else {
                    $card.addClass('hover');
                }
            }
        });
    </script>

{% endblock %}