{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %} 오픈아레나:팀원 소개 {% endblock %}

{% block head %}
    <link href='{% static 'css/rotating-card.css' %}' rel='stylesheet' />
    <div class="head_empty"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="title" style="color: #ff9900;">
                오픈아레나 팀원 소개
                <br>
                <small style="color: white;">누구나 승자가 될 수 있는 곳, 오픈아레나의 자랑스러운 팀원들입니다.</small>
            </h1>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src=""/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/members/sangwoo_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">한상우</h3>
                                        <p class="profession">대표</p>
                                        <p class="text-center">"내가 하고 있고 보고 있는 게임이 계속될 수 있는 E스포츠를 만들기 위해 노력하겠습니다."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"나는 내 운명의 주인, 내 영혼의 선장"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">한상우</h4>
                                        <p class="profession">대표</p>
                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나의 대표직을 맡고 있으며, 서비스 기획 및 회계와 마케팅을 담당하고 있습니다. 팀원들이 쾌적한 환경에서 일할 수 있도록 노력하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/ismynametkddn?fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:sangwoo@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src=""/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/members/kyoungin_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">백경인</h3>
                                        <p class="profession">개발자</p>
                                        <p class="text-center">"모든 연령대의 사람들이 즐길 수 있는 E스포츠 서비스를 만들도록 노력하겠습니다."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"나는 해야 한다. 그러므로 나는 할 수 있다."</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">백경인</h4>
                                        <p class="profession">개발자</p>
                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나 웹서비스를 개발하고 있으며, 개발팀을 이끌며 서버와 백엔드 개발을 담당하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/kyoungin100?ref=bookmarks" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:kyoungin@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                        <a href="https://www.linkedin.com/in/kyoungin100" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src=""/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/members/heechul_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">안희철</h3>
                                        <p class="profession">개발자</p>
                                        <p class="text-center">"사람들이 어떻게 하면 쉽고 재밌게 대회를 만들고 참여할 수 있을지 고민하며 오픈아레나를 개발하고 있습니다."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"배는 항구에 묶어 두려고 만든 것이 아니다."</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">안희철</h4>
                                        <p class="profession">개발자</p>
                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나 웹서비스 프론트엔드를 담당하고 있으며, 대회 컨텐츠 및 홍보 영상도 함께 작업하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/profile.php?id=100004875210057&fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:heechul@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="space-30"></div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src=""/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/members/chan_profile.png"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">장찬</h3>
                                        <p class="profession">개발자</p>
                                        <p class="text-center">"거침없이 달려봅시다. 화이팅!"</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Do or do not, but always smile"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">장찬</h4>
                                        <p class="profession">개발자</p>
                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나 웹서비스를 개발하고 있으며, 프론트엔드와 백엔드 부분을 아우르며 개발팀을 서포트하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/profile.php?id=100005050955602&fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:chan@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src=""/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/members/seokhun_profile.png"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">서석훈</h3>
                                        <p class="profession">기획자</p>
                                        <p class="text-center">"게임하는데 이유가 어딨어, 그냥 하는거지."</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"열심히 해봅시다!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">서석훈</h4>
                                        <p class="profession">기획자</p>
                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나에서 섭외한 준프로게이머의 실력자로, 대회 기획과 개최 및 영업, 콘텐츠 제작을 담당하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/profile.php?id=100005050955602&fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:chan@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src=""/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="https://s3.ap-northeast-2.amazonaws.com/openarena/admin/members/minchae_profile.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">김민채</h3>
                                        <p class="profession">디자이너</p>
                                        <p class="text-center">"우리 건강하고 행복하게 살아요 :)"</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> 자세히 보기
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Do it now!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">김민채</h4>
                                        <p class="profession">디자이너</p>
                                        <div class="stats-container">
                                            <p class="text-center">"오픈아레나의 디자인을 책임지고 있으며, 서비스의 브랜딩, UI 및 오픈아레나의 전반적인 디자인을 총책임하고 있습니다."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/kminchae?fref=ts" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="mailto:chan@openarena.kr"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="space-50"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            function rotateCard(btn){
                var $card = $(btn).closest('.card-container');
                console.log($card);
                if($card.hasClass('hover')){
                    $card.removeClass('hover');
                } else {
                    $card.addClass('hover');
                }
            }
        });
    </script>

{% endblock %}