{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} 오픈아레나:{{ making.tournament_name }} {% endblock %}
{% block head %}
    <!--participation.css-->
    <link rel="stylesheet" href="{% static 'css/participation.css' %}">

{% endblock %}
{% block content %}
    <div class="block-b">
        <div class="com_header" style="background:url({% static "img/migal/migal_cover.png" %}) center center no-repeat; background-size: cover;">
            <div class="com_empty">
            </div>
            <div class="com_header_inner">
                <div class="container">
                    <!--프로필칸-->
                    <div class="col-sm-3 col-md-2 col-md-offset-1 hidden-xs" >
                        <div class="com_profile" style="background: url({% static 'img/migal/migal_logo.png' %}); background-size: contain;"></div>
                    </div>
                    <!--대회설명-->
                    <div class="col-sm-6 col-md-6 col-xs-12 ">
                        <div class="com_title">{{ making.tournament_name }}</div></br>
                        <p class="com_subtitle hidden-xs">{{ making.summary }}</p>
                        <div class="com_subtitle">대회 일정 : {{ making.starttime }}</div></br>
                    </div>
                    <!--후원/참가-->
                    <div class="col-sm-3 col-md-3 col-xs-12 ">
                        <ul class="com_mainbox">
                            <li class="">
                                <div class="" >
                                    <div class="center">
                                        <button disabled id="funding" name="funding" class="btn btn-primary center-block" data-toggle="modal" data-target="#fundingModal">후원마감</button>
                                    </div>
                                </div>

                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="" >
                                    <div class="center">
                                        <button disabled id="participation" name="participation" class="btn btn-primary center-block" data-toggle="modal" data-target="#participationModal">참가불가</button>
                                    </div>
                                </div>
                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="center">
                                    <button id="streaming" name="streaming" class="btn btn-primary center-block">방송보기</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--상금바-->
                    <div class="col-sm-10 col-md-10 col-xs-10 col-md-offset-1 ">
                        <h4 id="comma1" class="com_title">
                            후원 목표 : {{ making.funding_goal|intcomma }}원 / 현재 : {{ total_amount.amount__sum|intcomma }}원 후원 해주셨습니다
                        </h4>
                        <p class="com_subtitle">* 홈페이지 후원 금액과 후원자 명단은 30분 마다 갱신됩니다.</p>
                        <!--
                        <div class="com_white_bar">
                            <div class="com_orange_bar"></div>
                        </div>
                        -->
                    </div>
                </div>

            </div>
        </div>
        <div class="com_mid">
            <!--competition list-->
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <!-- 대회 소개 -->
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary no_border " href="#com_tab1" data-toggle="tab">
                        <div class="list_btn">대회 소개</div>
                    </button>
                </div>
                <!-- 참여한 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab3" data-toggle="tab">
                        <div class="list_btn">참가자</div>
                    </button>
                </div>
                <!-- 후원자 명단 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab5" data-toggle="tab">
                        <div class="list_btn">후원자 명단</div>
                    </button>
                </div>
            </div>
            <!--competition list-->
            <!--competition content-->
            <div class="tab-content">
                <!--competition content 1-->
                <div class="tab-pane fade in active" id="com_tab1">
                    <div class="com_intro">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="com_intro_img">
                                <img src="{% static 'img/migal/migal_poster.png' %}">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="container com_intro_now">
                                {% if funding %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ funding.count }}</span> 명</div><br>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ total_amount.amount__sum|intcomma }}</span> 원</div><br>
                                {% else %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 원</div><br>
                                {% endif %}
                                <div class="com_into_small">마감 기한</div>
                                <div class="com_into_small"><span class="com_into_big">{{ making.endtime }}</span> 일</div><br>
                                {% if participation %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ participation.count }}</span> 명</div><br>
                                {% else %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">레전드 4</span> 명</div><br>
                                {% endif %}
                                <div class="com_into_small">
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="com_intro_desp">
                                <a>[사전설문조사 이벤트 발표]</a></br>
                                <blockquote>
                                    <1만원권> 4732, 2030, 9955, 2215, 9177</br>
                                    <3만원권> 4547</br>
                                </blockquote>
                                <a>1. 대회 소개</a></br>
                                <blockquote>
                                    오픈아레나는 e-sports 크라우드 펀딩 서비스로써 첫 베타 서비스를 시작하며 이번 하스스톤 레전드 매치를 기획하게 되었습니다. BJ 최미갈과 하스스톤의 유명 선수들 간의 재미있는 경기로 시청자 여러분들에게 즐거움을 드리고자 합니다.</br>
                                    대회의 개최는 여러분의 후원에 전적으로 달려있습니다. 최고의 선수들이 펼칠 오픈아레나 하스스톤 레전드 매치에 많은 후원 부탁드립니다.</br>
                                </blockquote>
                                <a>2. 일시</a></br>
                                <blockquote>
                                    2016년 9월 19일 7PM. (4강 1차전, 2차전). 9월 26일 8PM. (3,4위전, 결승)</br>
                                    (3덱 정복전 2매치로 방송이 마무리 되기에, 7시에 시작하여 최소 2시간~최대 4시간 까지 소요될 것으로 추정됨. 최대 시간은 사제vs사제. 전사vs전사. 얼방vs얼방 같은 극혐 매치업이 진행 되었을 경우를 상정하고 추산하였음.)</br>
                                </blockquote>
                                <a>3. 상금</a></br>
                                <blockquote>
                                    기본 목표 금액 42만원이 모일 시, 아래와 같이 1~4등에게 상금이 지급되고,</br>
                                    크라우드펀딩을 통한 나머지 추가 금액은 1위 입상자에게 전액 지급됩니다.</br>
                                    - 1위 : 200,000 원</br>
                                    - 2위 : 100,000 원</br>
                                    - 3위 : 70,000 원</br>
                                    - 4위 : 50,000 원</br>
                                </blockquote>
                                <a>4. 크라우드 펀딩 모금 방식</a></br>
                                <blockquote>
                                    방송 1주 전(9월14일)부터 모금 시작을 시작하며</br>
                                    방송 시작 전날(9/25 23:59:59)까지의 펀딩 적립금을 통해 상금으로 지급하게 됩니다.</br>
                                    해당 시점까지 기본 목표 금액 42만원에 도달하지 못하였을 경우 대회는 취소될 수 있습니다.</br>
                                </blockquote>
                                <a>5. 경기 진행 방식</a></br>
                                <blockquote>
                                    4덱 1벤 정복전 방식</br>
                                    - 미갈리스의 트위치 방송을 통해 송출됩니다.(<a href="http://www.twitch.tv/migal07">http://www.twitch.tv/migal07</a>)</br>
                                </blockquote>
                                1. 펀딩 성공과 동시에 대회 일정이 시작되는 특성상 펀딩 마감 이후 환불이 불가능한 점 양해 부탁드립니다.</br>
                                2. 대회가 불가피하게 중단된 경우에는 결제 수수료를 제외한 금액이 대회 중단 확정 후 3일 이내로 환불해드립니다.</br>
                            </div>
                        </div>
                    </div>
                </div>

                <!--competition content 3 대진표-->
                <div class="tab-pane fade in" id="com_tab3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="com_intro_desp" style="text-align: center">
                            <img src="{% static 'img/migal/migal_match.png' %}" style="max-width: 100%; height: auto;">
                        </div>
                    </div>
                </div>

                <!--competition content 5 후원자 명단-->
                <div class="tab-pane fade in" id="com_tab5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="com_intro_desp">
                            <p class="don_list">* 홈페이지 후원 금액과 후원자 명단은 30분 마다 갱신됩니다.</p>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">Top3 후원자</a>
                            <div class="donator_container">
                                {% if funding %}
                                    {% for tf in top_funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ tf.username }} 님 : {{ tf.amount|intcomma }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">후원해주신 분들</a>
                            <br>
                            <a style="color: white">현재 {{ funding.count }} 명</a>
                            <div class="donator_container">
                                {% if funding %}
                                    {% for f in funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ f.username }} 님 : {{ f.amount|intcomma }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--competition content-end-->

            <!--donate-->
            <div class="modal fade" id="fundingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 후원하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="funding_form" action="{% url 'migal' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputPassword1">후원하실 금액을 선택해주세요.</label>
                                </div>
                                <input type="hidden" class="donate_submit" id="purpose" name="purpose" value="funding">
                                <select id="funding_amount" name="funding_amount" class="form-control">
                                    <option value="1000">1,000원</option>
                                    <option value="3000">3,000원</option>
                                    <option value="5000">5,000원</option>
                                    <option value="10000">10,000원</option>
                                    <option value="20000">20,000원</option>
                                    <option value="50000">50,000원</option>
                                </select>
                                </br>
                                * 팝업 기능을 허용해주셔야하며, 모바일이 아닌 PC환경에서 후원 가능한 점을 양해부탁드립니다.</br>
                                * 후원해주신 분들 모두 댓글 등록이 가능하며 게임 영상 감사 크레딧에 소개될 예정입니다.
                                <button type="submit" class="join_submit">후원하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--participation in-->
            <div class="modal fade" id="participationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 참가하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="participation_form" action="{% url 'migal' %}" method="POST">{% csrf_token %}
                                <input type="hidden" class="form-control" id="purpose" name="purpose" value="participation">
                                <div class="form-group">
                                    <label for="participation_username">참가자 성함 (상금 지급 및 대회 참가 확인을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_name" name="participation_name" placeholder="예) 홍길동">
                                </div>
                                <div class="form-group">
                                    <label for="participation_phone">참가자 연락처 (상금 지급 및 대회 참가 확인을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_phone" name="participation_phone" placeholder="예) 010-1234-5678">
                                </div>
                                * 참가 완료 확인 후 단체 카톡방 링크를 연락처로 보내드리도록 하겠습니다.
                                </br>
                                <button type="submit" class="join_submit">참가하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $(".btn-pref .btn").click(function(){
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });

            {% if request.user.is_authenticated %}
                {% if has_funded == "yes" %}
                    document.getElementById("comment").disabled = false;
                {% else %}
                    document.getElementById("comment").disabled = true;
                {% endif %}
            {% else %}
                $("#funding").click(function(){
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                $("#participation").click(function(){
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                document.getElementById("comment").disabled = true;
            {% endif %}

            $("#streaming").click(function(){
                window.open("{{ making.streaming_url_spec }}");
            });

            $("#funding_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#funding_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/migal/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response){
                        window.open(response.status)
                    }
                });
            });

            $("#participation_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#participation_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/migal/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response){
                        if(response.status == "success"){
                            alert('대회 참가 신청이 정상적으로 제출되었습니다.');
                            location.reload();
                        }
                    }
                });
            });

            $("#reply_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#reply_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/migal/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert('댓글이 등록되었습니다.');
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d75e1fa49a7bd2"></script>

{% endblock %}
