{% extends "main/base.html" %}

{% block title %} 오픈아레나:마이 페이지 {% endblock %}

{% block content %}
    <div class="bb">
        <div class="head_empty"></div>
        <!-- my page 시작 -->
            <div class="card hovercard"><!-- .card.hovercard -->
                <!-- 프로필 사진 -->
                <div class="useravatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <!-- 프로필 이름 -->
                <div class="card-info">
                    <span class="card-title">Richard An</span>
                </div>
            </div>
        <div class="col-lg-10 col-sm-10 col-lg-offset-1 col-sm-offset-1">
            <div class="head_empty"></div>
            <!--mypage list-->
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <!-- 만든 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary " href="#tab1" data-toggle="tab">
                        <span class="hidden-md hidden-lg glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <div class="list_btn">만든 대회</div>
                    </button>
                </div>
                <!-- 후원한 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                        <span class="hidden-md hidden-lg glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <div class="list_btn">후원한 대회</div>
                    </button>
                </div>
                <!-- 참여한 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                        <span class="hidden-md hidden-lg glyphicon glyphicon-flag" aria-hidden="true"></span>
                        <div class="list_btn">참여한 대회</div>
                    </button>
                </div>
                <!-- 내 프로필 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                        <span class="hidden-md hidden-lg glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="list_btn">내 프로필</div>
                    </button>
                </div>
            </div>

                <div class="well">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                  <h3>This is tab 1</h3>
                </div>
                <div class="tab-pane fade in" id="tab2">
                  <h3>This is tab 2</h3>
                </div>
                <div class="tab-pane fade in" id="tab3">
                  <h3>This is tab 3</h3>
                </div>
              </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function() {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        });
    </script>
{% endblock %}