{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} 오픈아레나:대회 둘러보기 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom_kyoungin.css' %}">
{% endblock %}

{% block content %}
    <div class="intro-header" style="background: url({% static 'img/intro-bg.jpg' %});">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="looking_table">
                <div class="table_title" >게임별 대회
                </div>
                <table style="width:100%" cellpadding="20px">
                    <tr>
                        <th>
                            <div class="desc">
                                <a id="all" name="all" class="category" href="" style="color: #f7941e">전체</a>
                            </div>
                        </th>
                        <th>
                            <div class="desc">
                                <a id="hearthstone" name="hearthstone" class="category" href="" style="color: white">하스스톤</a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="desc">
                                <a id="overwatch" name="overwatch" class="category" href="" style="color: white">오버워치</a>
                            </div>
                        </th>
                        <th>
                            <div class="desc">
                                <a id="lol" name="lol" class="category" href="" style="color: white">롤 LOL</a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="desc">
                                <a id="startcraft2" name="startcraft2" class="category" href="" style="color: white">스타2</a>
                            </div>
                        </th>
                        <th>
                            <div class="desc">
                                <a id="etc" name="etc" class="category" href="" style="color: white">기타</a>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="looking_mobile">
                <div class="abc">
                    <div class="looking_list">
                        <a id="time" name="time" class="filter" href="" style="color: #f7941e">날짜순</a>
                        <span style="margin-left: 10px">|</span>
                        <a id="popular" name="popular" class="filter" href="" style="color: white; margin-left: 10px">인기순</a>
                        <span style="margin-left: 10px">|</span>
                        <a id="reward" name="reward" class="filter" href="" style="color: white; margin-left: 10px">상금순</a>
                    </div>
                </div>
                <div class="container" style="padding-left:0; padding-top:10px;">
                    <a href="{% url 'macho2' %}">
                        <div class="looking_picture1">
                            <img src="{% static 'img/macho2/macho2_preview.png' %}" style="margin-bottom: 10px">
                            <div class="pic_title">{{ macho2.tournament_name }}</div>
                            <div class="pic_subtitle">{{ macho2.summary }}</div>
                            <div class="pic_dscrp">
                                <span style="color: #ffffff">참가자 수</span> <a class="pic_num">{{ macho2_participation.count }}<span style="color: #ffffff"> 명</span></a><br/>
                                참가 마감 <a class="pic_num">{{ macho2.participation_endtime }}<span style="color: #ffffff"> 일</span></a><br/>
                                {% if macho2_funding %}
                                    모인 상금 <a class="pic_num">{{ macho2_total_amount.amount__sum|intcomma }}<span style="color: #ffffff"> 원</span></a><br/>
                                {% else %}
                                    모인 상금 <a class="pic_num">0<span style="color: #ffffff"> 원</span></a><br/>
                                {% endif %}
                                대회 시작 <a class="pic_num">{{ macho2.starttime }}<span style="color: #ffffff"> 일</span></a>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="looking_add_button">
                    <button type="button" class="btn btn-custom">
                        더보기
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            /* scroll-top-wrapper */
            $(function(){
                $(document).on( 'scroll', function(){
                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });
                $('.scroll-top-wrapper').on('click', scrollToTop);
            });
            function scrollToTop() {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }
            /* 게임별 대회 카테고리 누를 시 글자색 변하기 */
            $('.category').on('click',function() {
                $('.category').css('color', 'white');
                $('#'+this.id).css('color', '#f7941e');
                return false;
            });
            /* 필터 기능 누를 시 글자색 변하기 */
            $('.filter').on('click',function() {
                $('.filter').css('color', 'white');
                $('#'+this.id).css('color', '#f7941e');
                return false;
            });
        });
    </script>
{% endblock %}
