{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %} 오픈아레나:대회 영상 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/video_deco.css' %}">
{% endblock %}

{% block content %}
    <div class="looking-header" style="background: url({% static 'img/intro-bg.jpg' %}) no-repeat center center; background-size: cover;">
        <div class="">
            <!--베너 부분. 체널아트-->
            <div id=banner>
                <div class="video_cover" >
                    <div class="video_title_box">
                        <h1>대회 영상</h1>
                        <h5>오픈아레나에서 진행된 대회 영상입니다.</h5>
                    </div>
                </div>
            </div>

            <div class="container total_menu_video" >
                <div class="menu_video ">
                    <!--menu list-->
                    <div class="menu">
                        <div class="menu_list">
                            <a class="filter" href="" style="color: #f7941e;">전체</a>
                            <span style="margin-left: 10px">|</span>
                            <a class="filter" href="" style="color: #ffffff; margin-left: 10px">하스스톤</a>
                            <span style="margin-left: 10px">|</span>
                            <a  class="filter" href="" style="color: #ffffff; margin-left: 10px">오버워치</a>
                            <span style="margin-left: 10px">|</span>
                            <a  class="filter" href="" style="color: #ffffff; margin-left: 10px">LoL</a>
                            <span style="margin-left: 10px">|</span>
                            <a class="filter" href="" style="color: #ffffff; margin-left: 10px">스타2</a>
                        </div>
                    </div>
                    <div class="menu_bar"></div>
                    <!--competition list-->
                    <div class="video_clip">
                        <div class="clip1">
                            <a href="{% url 'contents' %}">
                                <div class="clip1_img" style="background: url({% static 'img/migal/migal_looking.png' %}); background-size: cover; ">
                                </div>
                                <div class="clip_title">BJ최미갈의 레전드 매치</div>
                                <div class="clip_subtitle">개최자 : BJ최미갈 | 참가자 : 레전드BJ 4명</div>
                                <div class="clip_enter">대회 영상 보기</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}