{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} 오픈아레나:{{ making.tournament_name }} {% endblock %}
{% block head %}
    <!--participation.css-->
    <link rel="stylesheet" href="{% static 'css/participation.css' %}">

{% endblock %}
{% block content %}
    <div class="block-b">
        <div class="com_header" style="background:url({% static "img/whyachi/whyachi_cover.png" %}) center center no-repeat; background-size: cover;">
            <div class="com_empty">
            </div>
            <div class="com_header_inner">
                <div class="container">
                    <!--프로필칸-->
                    <div class="col-sm-3 col-md-2 col-md-offset-1 hidden-xs" >
                        <div class="com_profile" style="background: url({% static 'img/whyachi/whyachi_logo.png' %}); background-size: contain;"></div>
                    </div>
                    <!--대회설명-->
                    <div class="col-sm-6 col-md-6 col-xs-12 ">
                        <div class="com_title">{{ making.tournament_name }}</div><br/>
                        <p class="com_subtitle hidden-xs">{{ making.summary }}</p>
                        <div class="com_subtitle">대회 일정 : {{ making.starttime }}</div><br/>
                    </div>
                    <!--후원/참가-->
                    <div class="col-sm-3 col-md-3 col-xs-12 ">
                        <ul class="com_mainbox">
                            <li class="">
                                <div class="" >
                                    <div class="center">
                                        <button disabled id="funding" name="funding" class="btn btn-primary center-block" data-toggle="modal" data-target="#fundingModal">후원마감</button>
                                    </div>
                                </div>

                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="" >
                                    <div class="center">
                                        <button disabled id="participation" name="participation" class="btn btn-primary center-block" data-toggle="modal" data-target="#participationModal">참가마감</button>
                                    </div>
                                </div>
                                <div class="hidden-xs" style="height: 20px"></div>
                                <div class="center">
                                    <button id="streaming" name="streaming" class="btn btn-primary center-block">방송보기</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--상금바-->
                    <div class="col-sm-10 col-md-10 col-xs-10 col-md-offset-1 ">
                        <h4 id="comma1" class="com_title">
                            후원 목표 : {{ making.funding_goal|intcomma }}원 / 현재 : {{ total_amount.amount__sum|intcomma }}원 후원 해주셨습니다
                        </h4>
                        <p class="com_subtitle">* 홈페이지 후원 금액과 후원자 명단은 30분 마다 갱신됩니다.</p>
                        <!--
                        <div class="com_white_bar">
                            <div class="com_orange_bar"></div>
                        </div>
                        -->
                    </div>
                </div>

            </div>
        </div>
        <div class="com_mid">
            <!--competition list-->
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <!-- 대회 소개 -->
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary no_border " href="#com_tab1" data-toggle="tab">
                        <div class="list_btn">대회 소개</div>
                    </button>
                </div>
                <!-- 참여한 대회 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab3" data-toggle="tab">
                        <div class="list_btn">참가자</div>
                    </button>
                </div>
                <!-- 후원자 댓글 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab4" data-toggle="tab">
                        <div class="list_btn">후원자 댓글</div>
                    </button>
                </div>
                <!-- 후원자 명단 -->
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default no_border" href="#com_tab5" data-toggle="tab">
                        <div class="list_btn">후원자 명단</div>
                    </button>
                </div>
            </div>
            <!--competition list-->
            <!--competition content-->
            <div class="tab-content">
                <!--competition content 1-->
                <div class="tab-pane fade in active" id="com_tab1">
                    <div class="com_intro">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="com_intro_img">
                                <img src="{% static 'img/whyachi/whyachi_poster2.jpeg' %}">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="container com_intro_now">
                                {% if funding %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ funding.count }}</span> 명</div><br/>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ total_amount.amount__sum|intcomma }}</span> 원</div><br/>
                                {% else %}
                                    <div class="com_into_small">후원자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br/>
                                    <div class="com_into_small">모인 상금</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 원</div><br/>
                                {% endif %}
                                <div class="com_into_small">마감 기한</div>
                                <div class="com_into_small"><span class="com_into_big">{{ making.endtime }}</span> 일</div><br/>
                                {% if participation %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">{{ participation.count }}</span> 명</div><br/>
                                {% else %}
                                    <div class="com_into_small">참가자 수</div>
                                    <div class="com_into_small"><span class="com_into_big">0</span> 명</div><br/>
                                {% endif %}
                                <div class="com_into_small">
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="com_intro_desp">
                                <a>제 1조 종목 명칭</a><br/>
                                <blockquote>
                                    2016 BJ 아치의 LOL 대회<br/>
                                </blockquote>
                                <a>제 2조 참가 자격</a><br/>
                                <blockquote>
                                    2.1 대리 혹은 부계정이 아니라면 누구나 참여 가능합니다.<br/>
                                </blockquote>
                                <a>제 3조 참가 신청</a><br/>
                                <blockquote>
                                    3.1 대회에 참가를 원하는 선수는 11/17(목) 23:59:59까지 개인별로 오픈아레나 홈페이지의 참가하기 버튼을 통해 참가 가능합니다.<br/>
                                    3.2 이번 대회는 참가비가 별도로 없는 대회로, 별도로 후원하고 싶으신 분들은‘후원하기’버튼을 통해 후원할 수 있습니다.<br/>
                                    3.3 기본 8팀 각 5명으로 구성된 8강전으로 진행되며, 그 이상의 선수들이 접수했을 시에는 대기인원으로 넘어가게 되고, 예비번호를 부여받게 됩니다.<br/>
                                    3.4 접수 시 작성된 티어를 바탕으로 주최측인 BJ 아치와 (주)오픈아레나가 협력하여 티어에 맞게 5명씩 팀을 편성한 후에 홈페이지를 통하여 고시합니다.<br/>
                                    3.5 대회 참가 시작 시간 1시간 전까지 5명의 팀원의 구성원이 출석하지 않으면 예비 번호를 받은 선수가 투입되며, 대회 시작 시간에서 10분 후까지 5명의 팀원 모두가 모이지 않으면 부전패 처리됩니다.<br/>
                                    3.6 대회 참가 신청자는 마감일 전까지 참가자의 소환사명이 변경될 경우, 반드시 참가 신청 페이지에 수정 및 반영을 해야하며, 대회진행 중 어떠한 경우라도 소환사명의 변경은 금지합니다. 이를 어길 경우 대회 참여 자격을 즉시 박탈합니다.<br/>
                                    (예외 조항) 대회 방송 경기 진행 시, 미풍양속을 저해하는 소환사명인 경우, 대회 운영 본부의 결정으로 참여 선수에게 소환사명 변경을 요구할 수 있으며, 참여 선수는 이를 적극적으로 수용하고 따라야 합니다.<br/>
                                </blockquote>
                                <a>제 4조 경기 방식</a><br/>
                                <blockquote>
                                    4.1 기본 8팀 8강전을 바탕으로 목요일날까지 접수된 선수들을 바탕으로 재조정 될 수 있습니다.<br/>
                                    4.1.1 서버 및 참가계정 : 한국 라이브 서버에서 본인 계정으로 진행됩니다.<br/>
                                    4.1.2 방식 : 5 vs 5 토너먼트 드래프트 픽 모드<br/>
                                    4.1.3 대전 맵 : 소환사의 협곡<br/>
                                    4.1.4 진영 선택<br/>
                                    <blockquote>
                                        ① 심판의 코인토스 후 승자 선택 - 본 대회의 심판은 주최측인 BJ 아치로 합니다.<br/>
                                        ② 다전제 경기의 경우 세트마다 진영을 반대로 선택<br/>
                                    </blockquote>
                                    4.1.5 경기 세트<br/>
                                    <blockquote>
                                        ① 본선<br/>
                                        <blockquote>
                                            • 8강전 이하 : 단판<br/>
                                            • 4강전 ~ 준결승전 : 3판 2선승제<br/>
                                            • 결승전 : 5판 3선승제<br/>
                                        </blockquote>
                                    </blockquote>
                                    4.1.6 룬, 특성, 스킨 결정 : 전체사용 가능<br/>
                                    4.1.7 관전 허용 : 대회 진행을 위해 심판, 옵저버만 허용<br/>
                                </blockquote>
                                <a>제 5조 금지 행위</a><br/>
                                <blockquote>
                                    5.1 키보드, 마우스, 헤드폰, 마우스패드, 마우스 거치대 등의 개인장비로 인한 튕김 현상, 에러 등의 문제에 대해서는 선수 본인이 책임을 지며, 주최측에 이의를 제기할 수 없습니다.<br/>
                                    5.2 마우스 프로그램 외 외부 프로그램 사용 금지<br/>
                                    5.3 클라이언트 조작을 통해 기본 설정 범위를 초과한 설정 금지<br/>
                                    5.4 채팅<br/>
                                    <blockquote>
                                        ① 경기 포기의사 및 경기 중단 요청 채팅을 제외한 다른 채팅 사용 금지합니다. 단, 경기 도중 원활한 경기 진행을 위한 채팅과 경기 종료 직전의 GG 관련 채팅은 예외로 합니다.<br/>
                                        ② 항복 투표 후 10초 이내로 찬성을 해야 하되, 찬성 투표 불일치로 인한 항복 취소는 금지합니다.<br/>
                                        ③ shift + enter 오류로 인한 공백 채팅은 팀 당 1회까지 유예하며, 2회 발생 시 금지행위로 간주합니다.<br/>
                                        ④ 게임 내 챔피언의 이야기, 웃음, 춤 등의 액션은 허용합니다.<br/>
                                        ⑤ 보이스 채팅 프로그램 사용을 허용합니다.<br/>
                                    </blockquote>
                                </blockquote>
                                <a>제 6조 버그 및 디스커넥트</a><br/>
                                <blockquote>
                                    6.1 경기의 일부로 인정하는 버그<br/>
                                    아래 상황 발생 시 심판은 일시 중단 없이 경기를 진행합니다.<br/>
                                    <blockquote>
                                        ① 챔피언 스킬의 미 적용 또는 오작동<br/>
                                        ② 챔피언이 움직이지 않는 버그<br/>
                                        ③ 챔피언이 의도하지 않는 곳으로 위치하게 되는 버그<br/>
                                        ④ 룬, 마스터리 등 선수 개인에게 일어나는 버그<br/>
                                    </blockquote>
                                    6.2 경기의 일부로 인정되지 않는 버그<br/>
                                    아래 상황 발생 시 심판은 판단에 따라 재경기, 경기 속개, 우세승 판정을 할 수 있습니다.<br/>
                                    <blockquote>
                                        ① 포탑에 데미지를 입힐 수 없는 버그<br/>
                                        ② 특정 챔피언의 상태 이상으로 타켓팅을 할 수 없는 버그<br/>
                                        ③ 경기의 일부로 인정되는 버그가 연속적으로 발생하여 경기에 심대한 영향을 주는 경우<br/>
                                        ④ 룬과 특성이 정상적으로 적용되지 않는 버그를 교전의사시점 전에 발견할 경우. 단, 교전의사시점 후에는 경기중단 없이 속개합니다.<br/>
                                        ⑤ 교전 의사 시점 : 해당 팀 중 1명의 선수라도 기지 밖(홈 기지 계단까지 포함)으로 나간 경우<br/>
                                    </blockquote>
                                    6.3 디스커넥트<br/>
                                    <blockquote>
                                        ① 모든 디스커넥트는 재 접속을 통해 경기에 재 접속함을 기본 원칙으로 합니다.<br/>
                                        ② 픽 밴 도중, 디스커넥트가 될 경우 디스커넥트가 된 팀에게 벌점 1점을 부과하며, 디스커넥트가 되기 전의 픽 밴까지 그대로 진행하고, 이후 픽 밴을 진행합니다.<br/>
                                    </blockquote>
                                </blockquote>
                                <a>제 7조 경기 중 이상현상</a><br/>
                                <blockquote>
                                    7.1 경기 중 이상현상이 발생했을 경우 선수는 채팅이나 페이스북 메세지를 통해 심판에게 알립니다.<br/>
                                    7.2 해당 선수는 문제상황 조치 후 재접속을 통해 경기에 참여합니다.<br/>
                                    7.3 상황 조치 불가 또는 지속적인 이상 현상으로 경기 진행이 불가능할 경우, 심판의 판정에 따릅니다.<br/>
                                </blockquote>
                                <a>제 8조 경기 승리 및 이의제기</a><br/>
                                <blockquote>
                                    8.1 상대방의 넥서스를 파괴하거나 항복을 받아내는 팀이 승리합니다.<br/>
                                    8.2 규정상 상대팀에게 몰수패를 줄 수 있는 사안이 발생되었을 경우 승리합니다.<br/>
                                    8.3 게임 상의 문제로 인해 게임 속개가 불가능하다 판단되는 경우, 심판에게 이의를 제기할 수 있으며, 이후 해당 내용의 결과를 도출할 때까지 모든 경기는 그대로 지속해야 합니다.<br/>
                                    8.4 경기의 결과가 나온 이후 이의제기는 경기 후 5분 이내로 심판에게 해야 하며, 그 이후의 이의제기는 효력을 상실합니다.<br/>
                                </blockquote>
                                <a>제 9조 부정행위</a><br/>
                                <blockquote>
                                    9.1 참여 접수에 등록된 선수와 대회 현장에서 확인되는 선수가 불일치 할 시, 해당 팀은 몰수패 처리합니다.<br/>
                                    9.2 모든 경기가 끝난 후에라도 대리 선수가 경기를 뛴 사실이 적발될 시, 해당 팀은 몰수패 처리되며, 해당 선수는 차기 시즌 참가자격을 박탈합니다.<br/>
                                    9.3 모든 선수는 1개의 팀에만 소속될 수 있으며, 소속된 팀 외의 중복된 소속이 적발될 시, 양 팀 모두 몰수패 처리합니다.<br/>
                                    9.4 게임 상에서 발생되는 버그를 고의적으로 악용하여 이득을 취한 경우, 주최측의 판단 하에 몰수패 처리 및 차기 대회 참가자격을 박탈합니다.<br/>
                                    9.5 승부조작과 관련해 의논이 진전된 상태라도 해당 경기 시작 직전까지 주최 측에 알린다면 해당 선수는 처벌하지 않습니다.<br/>
                                    9.6 승부조작과 관련된 신고사항은 팀과 선수 모두에게 피해가 가지 않도록 처리하는 것을 원칙으로 합니다.<br/>
                                    9.7 실제 경기에서 승부조작을 시도했을 경우, 라이엇, KeSPA와 협의하에 차기 리그 진출 불가는 물론, 법적 처벌을 받을 수 있도록 조치합니다.<br/>
                                    9.8 상기 명시한 부정행위 관련 외에 팀 구성원이 규정을 위반한 사항에 대해서는 운영진의 판단하에 아래와 같은 패널티가 부여됩니다.<br/>
                                    9.8.1 주의: 주의에 해당하는 행위 2회 누적 시 경고 1회<br/>
                                    <blockquote>
                                        ① 대회의 원활한 진행을 방해하거나, 심판의 경기 진행에 협조하지 않는 경우<br/>
                                        ② 대회 진행 중 욕설, 비 매너 등으로 대회 분위기를 손상할 경우<br/>
                                        ③ 그 외 운영진의 판단 하에 주의를 줄 사항이 발생할 모든 경우<br/>
                                    </blockquote>
                                    9.8.2 경고: 챔피언 밴 카드 소멸, 경고 2회 누적 시 몰수패<br/>
                                    <blockquote>
                                        ① 챔피언 선택 진행 시, 고의로 게임을 종료해 진행을 방해하는 행위 적발 시<br/>
                                        ② 제 3자의 행동이 대회에 영향이 미칠 경우<br/>
                                        ③ 그 외 운영진의 판단 하에 경고를 줄 사항이 발생할 모든 경우<br/>
                                    </blockquote>
                                    9.8.3 몰수패<br/>
                                    <blockquote>
                                        ① 경기 시작 시간 10분이 지나서도 모든 팀원이 출석하지 못한 경우<br/>
                                        ② 대회 진행에 심각한 피해를 주는 행위 또는 언행을 할 경우<br/>
                                    </blockquote>
                                </blockquote>
                                <a>제 10조 선수의 의무</a><br/>
                                <blockquote>
                                    10.1 모든 선수는 대회 규정 및 공지, 변경 사항을 지속적으로 체크해야 하고, 숙지 미숙으로 인한 불이익은 선수가 책임을 집니다.<br/>
                                    10.2 규정에 해당되지 않는 상황이 발생할 경우, 주최측의 판단과 결정을 최우선으로 하며, 선수들은 주최측의 판단과 결정에 따릅니다.<br/>
                                    10.3 모든 선수는 경기가 시작되기 전까지 자신의 컴퓨터와 주변 기기들을 체크하며, 경기 준비에 차질이 없도록 주의를 기울입니다. 경기 시작 후 발생하는 컴퓨터 및 주변 기기들의 이상에 대한 불이익은 선수가 책임을 집니다.<br/>
                                    10.4 대회 참가 시작 시간 1시간 전까지 5명의 팀원 모두가 출석하지 않으면 예비 번호를 받은 선수가 투입되며 대회 시작 시간에서 10분 후까지 5명의 팀원 모두가 모이지 않으면 몰수패 처리 합니다.<br/>
                                    10.5 모든 선수는 원활한 대회 운영 및 방송 중계를 위해 주최측과 운영진의 지시사항에 따라야 할 의무가 있으며, 이를 심각하게 어길 시 주최측의 판단에 따라 벌점, 경고, 몰수패 등의 패널티를 받게 됩니다.<br/>
                                    10.6 참가 신청을 한 모든 개인은 대회 규정을 숙지하고 이에 따를 것을 동의함으로 간주합니다.<br/>
                                </blockquote>
                                <a>[개인정보 취급방법 동의서]</a><br/>
                                2016 BJ 아치의 LOL 대회는 대회 진행을 위해 아래와 같이 개인정보를 수집 및 이용합니다.<br/>
                                <blockquote>
                                    ① 수집 이용 목적 : 대회 참가 여부 확인 및 수상자 발표 / 상장 및 상품 발송 / 전화, SMS 등을 통한 대회 진행 관련 안내 및 문의사항에 대한 응대<br/>
                                    ② 수집 이용하는 개인정보 항목 : 성명, 롤 닉네임, 티어, 휴대폰 번호<br/>
                                    ③ 보유 및 이용 기간 : 대회 진행을 위해 수집한 개인정보는 대회 종료 후 1주일 이내에 모두 파기하며, 대회종료 이전이라도 고객의 동의철회 요청이 있는 경우 해당 개인정보는 즉시 파기합니다. (단, 수상자 정보는 상장 발송 및 확인을 위해 대회 종료 후에도 최대 1달간 보관하여 수집, 이용목적을 달성한 경우 즉시 파기합니다.)<br/>
                                </blockquote>
                                <a>[대회 참가를 위한 참가자 동의사항]</a><br/>
                                아래와 같은 준수사항을 위반 시 불이익이 갈 수 있습니다.<br/>
                                <blockquote>
                                    ① 2016 BJ 아치의 LOL 대회에 참가신청 함으로써 대리, 부캐, 대회 중 팀원 및 적팀과 다툼과 오해의 소지가 있을 시 대회 참가 취소 및 소속된 팀 전체가 탈락됩니다.<br/>
                                    ② 대회 불참가시 대회시작 하루 전까지 연락을 주셔야합니다. 페이스북 메세지 (<a href="https://www.facebook.com/profile.php?id=100013356948294&fref=ts">https://www.facebook.com/profile.php?id=100013356948294&fref=ts</a>)<br/>
                                    ③ 시간이 결승까지 가게 될 경우 4시간 이상 소요가 될 것으로 예상됩니다. 대회 중도포기 및 해지시 불이익이 갈 수 있습니다.<br/>
                                    ④ 결승전의 경우에는 너무 장시간 소요가 될 시에는 결승팀의 조율을 통해 다음날 11/20(일)에 결승전을 진행할 수 있습니다.<br/>
                                </blockquote>
                                <a>[환불 규정]</a><br/>
                                후원 성공과 동시에 대회 일정이 시작되는 특성상 후원이 마감된 이후에는 환불이 불가능 한 점 양해 부탁드립니다.<br/>
                            </div>
                        </div>
                    </div>
                </div>

                <!--competition content 3 대진표-->
                <div class="tab-pane fade in" id="com_tab3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="com_intro_desp">
                            <img src="{% static 'img/whyachi/whyachi_match_final2.png' %}" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">대회 신청자</a>
                            <br/>
                            {% if participation %}
                                <a style="color: white">현재 {{ participation.count }} 명</a>
                            {% else %}
                                <a style="color: white">현재 0 명</a>
                            {% endif %}

                            <div class="donator_container">
                                <table class="table table-striped table-list">
                                    <thead>
                                    <tr>
                                        <th>참가 번호</th>
                                        <th>오픈아레나 닉네임</th>
                                        <th>티어</th>
                                        <th>최종 참가 여부</th>
                                        <th>체크인</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if participation %}
                                        {% for p in participation %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ p.username }}</td>
                                                <td>{{ p.etc1 }}</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade in" id="com_tab4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="com_intro_desp">
                            <form id="reply_form" action="{% url 'whyachi' %}" method="POST">{% csrf_token %}
                                <input type="hidden" class="form-control" id="purpose" name="purpose" value="reply">
                                <div class="com_donatelist_box">
                                    <textarea id="comment" name="comment" class="form-control com_donate_desp" rows="3" placeholder=" 대회 응원 댓글을 입력해 주세요. (후원자만 입력 가능합니다.)" ></textarea>
                                    <button type="submit" class="btn btn-primary com_donate_enroll">등록</button>
                                </div>
                            </form>
                            <a class="donator_title">후원 댓글 보기</a>
                            <div class="donator_container">
                                {% if reply %}
                                    {% for r in reply %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ r.username }} 님 : {{ r.comment }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!--competition content 5 후원자 명단-->
                <div class="tab-pane fade in" id="com_tab5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="com_intro_desp">
                            <p class="don_list">* 홈페이지 후원 금액과 후원자 명단은 30분 마다 갱신됩니다.</p>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">Top3 후원자</a>
                            <div class="donator_container">
                                {% if funding %}
                                    {% for tf in top_funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ tf.username }} 님 : {{ tf.amount|intcomma }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="com_intro_desp">
                            <a class="donator_title">후원해주신 분들</a>
                            <br>
                            <a style="color: white">현재 {{ funding.count }} 명</a>
                            <div class="donator_container">
                                {% if funding %}
                                    {% for f in funding %}
                                        <div class="com_donate_list">
                                            <img class="com_donate_icon" src="{% static 'img/profile.svg' %}">
                                            <span>{{ f.username }} 님 : {{ f.amount|intcomma }}원</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--competition content-end-->

            <!--donate-->
            <div class="modal fade" id="fundingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 후원하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="funding_form" action="{% url 'whyachi' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputPassword1">후원하실 금액을 선택해주세요.</label>
                                </div>
                                <input type="hidden" class="donate_submit" id="purpose" name="purpose" value="funding">
                                <select id="funding_amount" name="funding_amount" class="form-control">
                                    <option value="1000">1,000원</option>
                                    <option value="3000">3,000원</option>
                                    <option value="5000">5,000원</option>
                                    <option value="10000">10,000원</option>
                                    <option value="20000">20,000원</option>
                                    <option value="50000">50,000원 [혜택 : BJ아치의 롤 게임 코칭 제공]</option>
                                </select>
                                <br/>
                                * 팝업 기능을 허용해주셔야하며, 모바일이 아닌 PC환경에서 후원 가능한 점을 양해부탁드립니다.<br/>
                                * 후원해주신 분들 모두 댓글 등록이 가능하며 게임 영상 감사 크레딧에 소개될 예정입니다.
                                <button type="submit" class="join_submit">후원하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--participation in-->
            <div class="modal fade" id="participationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">대회 참가하기</h3>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form id="participation_form" action="{% url 'whyachi' %}" method="POST">{% csrf_token %}
                                <input type="hidden" class="form-control" id="purpose" name="purpose" value="participation">
                                <div class="form-group">
                                    <label for="participation_username">참가자 성함 (상금 지급 및 대회 참가 확인을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_name" name="participation_name" placeholder="예) 홍길동">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc2">롤 아이디</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc2" name="participation_etc2" placeholder="예) 롤길동">
                                </div>
                                <div class="form-group">
                                    <label for="participation_etc1">롤 티어</label>
                                    <input required autocomplete="off" class="form-control" id="participation_etc1" name="participation_etc1" placeholder="예) 실버 1티어">
                                </div>
                                <div class="form-group">
                                    <label for="participation_phone">참가자 연락처 (상금 지급 및 대회 참가 확인을 위함)</label>
                                    <input required autocomplete="off" class="form-control" id="participation_phone" name="participation_phone" placeholder="예) 010-1234-5678">
                                </div>
                                * 참가 완료 확인 후 단체 카톡방 링크를 연락처로 보내드리도록 하겠습니다.
                                <br/>
                                <button type="submit" class="join_submit">참가하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $(".btn-pref .btn").click(function(){
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });

            {% if request.user.is_authenticated %}
                {% if has_funded == "yes" %}
                    document.getElementById("comment").disabled = false;
                {% else %}
                    document.getElementById("comment").disabled = true;
                {% endif %}
            {% else %}
                $("#funding").click(function(){
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                $("#participation").click(function(){
                    alert("로그인이 필요한 기능입니다.");
                    location.href='{% url 'login' %}';
                });
                document.getElementById("comment").disabled = true;
            {% endif %}

            $("#streaming").click(function(){
                window.open("{{ making.streaming_url_spec }}");
            });

            $("#funding_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#funding_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/whyachi/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response){
                        window.open(response.status)
                    }
                });
            });

            $("#participation_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#participation_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/whyachi/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response){
                        if(response.status == "success"){
                            alert('대회 참가 신청이 정상적으로 제출되었습니다.');
                            location.reload();
                        }
                    }
                });
            });

            $("#reply_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#reply_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/whyachi/',
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert('댓글이 등록되었습니다.');
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d75e1fa49a7bd2"></script>

{% endblock %}
