
#report-page-title{
    text-align: center;
    color: rgba(255, 153, 0, 1);
    font-size: 2rem;
    margin-top:4rem;
    margin-bottom: 2rem;
}

.top-category{
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: black;
    line-height: 4;
    border: 1px silver solid;
}

.top-category a{
    color: white;
}

.top-category a:hover{
    color: rgba(255, 153, 0, 1);
}


.go-last-arena{
    border-right: 1px solid silver;
}


.game-category{
    padding-bottom: 1rem;
    text-align: center;
}

.game-category button{
    background-color: inherit;
    color: white;
    border: 1px silver solid;
}

.game-category button:hover{
    background: rgba(255, 153, 0, 1);
    color: white;
}


.last-arena-title{
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    display: inline-block;
    width: auto;
}


.report-whole-content button{
    display: inline-block;
    font-size: 1rem;
    background-color: inherit;
    border: none;
    color: gray;
}

.report-whole-content button:hover{
    color: rgba(255, 153, 0, 1);
}

.order-category{
    margin-top: 0.5rem;
    padding-right: 1.2rem;
    text-align: right;
}

.order-category > button{
    font-size: 0.8rem;
    padding: 0.4rem;
    background-color: inherit;
    color: white;
    border-radius: 2%;
    border: 1px silver solid;
}

.order-category > button:hover{
    background-color: rgba(255, 153, 0, 1);
    color: white;
}


.project-card-container{
    color: white;
    background-color: inherit;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.project-card{
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.slick-dots{
    position: static;
}

#video-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.video-title{
}

.video-card{
    display: inline-block;
    margin-right: 1rem;
    width: 470px;
}