.topnav > .container{
    width: 90%;
}

.nav a{
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: #f8f8f8;
}


.topnav{
    height: 50px;
}

body{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    margin-top: 0;
}

.project .slick-next:before, .video .slick-next:before{
    content: '〉';
    opacity: 0.3;
    font-weight: 100;
}

.project .slick-prev:before, .video .slick-prev:before{
    content: '〈';
    opacity: 0.3;
    font-weight: 100;
}

ul.slick-dots > li > button::before {
    color: white;
}

ul.slick-dots > li.slick-active > button::before {
    color: white;
}

input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 153, 0, 1);;
    box-shadow: 0 1px 0 0 rgba(255, 153, 0, 1);;
}

.next-scroll-card{
    text-align: center;
    padding-bottom: 1.2rem;
}

.next-scroll-card a{
    font-size: 1rem;
    padding: 0.6rem;
    color: white;
    background-color: inherit;
    border: silver 1px solid;
    border-radius: 30%;
}

.next-scroll-card a:hover{
    background-color: white;
    color: black;
}

footer{
    padding-top: 2rem;
    background-color: #212121;
    clear: both;
    color: rgba(255, 153, 0, 1);
    list-style: circle;
    text-align: left;
    font-size: 14px;
    line-height: 1.5
}

.list-inline > li > a{
    color: rgba(255, 153, 0, 1);
}

.banner .container {
    width: 91%;
}

.copyright{
    color: white;
    font-size: 14px;
}

.project-card{
    display: inline-block;
}

.card-image{
    height: 19.5rem;
    background-size: cover;
}

.progress{
    height: 0.8rem;
    background-color: gray;
}

.stat2{
    margin: 0;
}

.card-content-container{
    text-align: center;
    color: white;
    background-color: #333;
}

.card-content-top{
    text-align: center;
}

.card-title-container{
    text-align: left;
    width: 60%;
    margin-left: 1.3rem;
    display: inline-block;
    margin-top: 1rem;
}

.card-title{
    margin-left: 0 !important;
    font-size:2.2rem !important;
}

.card-dday-container{
    width: 30%;
    display: inline-block;
    position: relative;
    font-size: 2.1rem;
}

.card-summary-container{
    width: 85%;
    display: inline-block;
    text-align: left;
    margin-top: 0.5rem;
}

.card-summary{
    text-align: left;
    color: darkgray;
    font-size: 1.4rem;
}

.card-fundings-container{
    width: 74%;
    text-align: left;
    display: inline-block;
}

.detail-button-container{
    width: 10%;
    display: inline-block;
}

.card-content-bottom{
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.card .card-reveal{
    color: white;
    background-color: #333 !important;
    padding: 0;
    text-align: center;
}

.detail-button-container{
    text-align: right;
}

.card-detail-information{
    margin-top: 0.5rem;
    font-size: 1.6rem;
    text-align: left;
    width: 85%;
    display: inline-block;
}

.card-information-content{
    color: darkgray;
    width: 50%;
    display: inline-block
}

.card-information-data{
    display: inline-block;
    width: 50%;
    text-align: right;
}

.card-detail-button > button{
    background-color: rgba(255, 153, 0, 1);
    border: 1px gray solid;
    color: white;
    font-size: 1.6rem;
    width: 10rem;
    height: 2.7rem;
}

.card-detail-button > button > a {
    color: white;
}


.card-detail-button{
    text-align: left;
    margin-top: 1rem;
}

.card-artist{
    color: white;
    margin-top: 0.8rem;
    font-size: 0.9rem;
    word-spacing: 1px;
}

.project-card > .card{
    width: 34.4rem;
    height: auto;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}

.card.sticky-action{
    overflow: auto;
}

.nav > li > a{
    background-color: #f8f8f8;
}

@media only screen and (max-width: 992px) {
    .card{
    }
}

@media only screen and (max-width: 1332px) {
    .card{
        width: 32.5rem;
    }
}