
	.box1{
		float: left;
	}
	.box2{
		width: 100%;
		float: left;
	}
	.support_empty{
    	height: 20px;
	}
	.container{
		font-family: 나눔고딕;
	}
/* Grid */
	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 48%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
@media screen and (max-width: 1680px) {

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}
}
	@media screen and (max-width: 1280px) {


		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}
	}

	@media screen and (max-width: 980px) {

		.row.uniform > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform {
			margin: -30px 0 -1px -30px;
		}
	}

	@media screen and (max-width: 840px) {

		.row.uniform > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform {
			margin: -30px 0 -1px -30px;
		}

	}

	@media screen and (max-width: 736px) {


		.row.uniform > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform {
			margin: -30px 0 -1px -30px;
		}
	}


/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		background: none;
		border: solid 1px #ffffff;
		color: #ffffff;
		display: block;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		outline: 0;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #ff9900;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}


/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	.button {
		background: none;
		border: solid 1px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 1.0em;
		font-weight: 600;
		letter-spacing: 2px;
		min-width: 12em;
		padding: 0 0.75em;
		line-height: 3.00em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		.button:hover {
			background: rgba(188, 202, 206, 0.15);
			border-color: inherit;
		}

		input[type="button"].special,
		input[type="submit"].special,
		input[type="reset"].special,
		.button.special {
			background: #ff9900;
			border-color: #ff9900;
			color: #fff !important;
		}

			input[type="button"].special:hover,
			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			.button.special:hover {
				background: #96dad1 !important;
				border-color: #96dad1 !important;
			}

		input[type="button"].fit,
		input[type="submit"].fit,
		input[type="reset"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="button"].small,
		input[type="submit"].small,
		input[type="reset"].small,
		.button.small {
			font-size: 0.7em;
			min-width: 14em;
			padding: 0.5em 0;
		}
