header{
    margin-top: 3.5rem;
    padding: 0;
    color: white;
    background-color: #161616;
}

h5{
    margin: 0;
}

h3{
    font-size: 2.5rem;
}

.slick-slide{
    margin-bottom: 0;
}

.slick-dots{
    margin-bottom: 3rem;
}

.main-head{
    text-align: center;
    padding-top: 3rem;
    padding-bottom:4rem;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    height: 55.8rem;
    border-bottom: 1px silver solid;
}

.main-title{
    margin-top:23rem;
    text-align: center;
    padding: 0;
}

.main-head-title{
    font-size: 3.5rem;
}

.main-head-sub{
    font-size: 2.3rem;
}



#service-title-eng, #arena-title-eng{
    color: rgba(255, 153, 0, 1);
    font-weight: 300;
    font-size: 4rem;
}

#service-title-kor, #arena-title-kor{
    font-size: 1.5rem;
    color: #999DAC;
}

.service-container{
    height: 21rem;
    padding: 0;
    text-align: center;
}
.service-img{
    width: 130px;
    background-color: inherit;
    padding: 0.5rem;
}

.service{
    color: rgba(255, 153, 0, 1);
    font-weight: 300;
}

.service-contents{
    color: white;
    font-weight: 300;
}

#service1{
}
#service2{
}
#service3{
}
#service-title{
    text-align: center;
    padding-bottom: 2rem;
}
#arena-title{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
    border-top: 1px silver solid;
    margin-top: 30px;
}


.project-head{
    background-color: black;
    height: 5rem;
}

.project-category-eng
{
    color: rgba(255, 153, 0, 1);
    font-size:3rem;
    font-weight: 100;
    padding-top: 2rem;
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
    text-align: center;
    border-top: 4px black solid;
}


.project-category-kor{
    margin-left: 8rem;
    margin-right: 4.5rem;
    color: white;
    font-weight: 400;
    text-align: left;
    font-size:1.8rem;
}

.project-card-container{
    color: white;
    background-color: inherit;
    padding-bottom: 3rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}

.project-stats{
    padding-left: 10%;
    padding-bottom: 1rem;

}

.card{
    margin-left: 0.5rem;
    margin-right: 1.9rem;
}

.user-img{
    display: inline !important;
    width: 3rem;
    margin: 0;
}

#main1-img{
    display: inline-block;
    width: 30rem;
}

#main1-mini-title{
    text-align: left;
    margin-left: 3rem;
}
#main1-img-container{
    padding-top: 2rem;
}


.main-title > a{
    color: white;
}

.slick-dots li{
    margin: 0.1rem;
}

.slick-dots li button:before{
    font-size: 1.1rem;

}

.button-go{
    background-color: inherit;
    color:dimgray;
    font-size: 1.2rem;
    border-radius: 50%;
    border-color:black;
}

.slick-next:before, .slick-prev:before{
    font-size:5rem;
}

#ing-project .slick-arrow{
    margin-right: 5rem;
    margin-left: 3.2rem;
    padding-bottom: 6rem;
    z-index: 1;
}

#End-project .slick-arrow{
    margin-right: 5rem;
    margin-left: 3.2rem;
    padding-bottom: 6rem;
    z-index: 1;
}

i.slick-arrow{
    color: white;

}

#final-buttons1{
    margin-left: 7.8rem;
    margin-right: 1rem;
}

#final-buttons2{
    margin-right: 1rem;
}


#final-buttons3{
}

.final-button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.final-button:hover{
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: rgba(255, 153, 0, 1);
}

.final-button{
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding: 1rem;
    border: 1px solid silver;
    width: 20.85rem;
}

@media (max-width:992px){
    .service-img{
        width: 100px;
    }

    .service-container{
        height: 27rem;
        padding: 0;
        text-align: center;
    }

    .service{
        color: white;
        font-size: 2rem
    }

    .service:hover{
        color: rgba(255, 153, 0, 1);
    }

    #service1{
        padding: 0;
    }

    #service2{
        border: none;
    }

    #service3{
        margin: 0;
    }

    .service-contents{
        display: none;
    }
}

@media (max-width:530px){
    #arena-title{
        display: none;
    }

    .service-container{
        height: 34rem;
    }

    .project{
        display: none;
    }
    .service{
        color: white;
        font-size: 1.5rem
    }
    .service-img{
        width: 80px;
    }
    .main-head-title{
        font-size: 3rem;
    }
    .main-head-sub{
        font-size: 1.5rem
    }
    .main-head{
        height: 37rem;
    }
    .main-title{
        margin-top: 12rem;
    }
}
