<script>
    /* 후원 추가 버튼 기능 구현 */
    /* Add button click handler */
    var MAX_OPTIONS = 10;
    var reward_number = 1;
    $('.div_reward').on('click', '.addButton', function() {
        if(reward_number < MAX_OPTIONS){
            reward_number = reward_number + 1;
            var $template = $('#rewardTemplate'),
                    $clone    = $template
                            .clone()
                            .removeClass('hide')
                            .removeAttr('id')
                            .insertBefore($template);
        } else {
            $('.div_reward').find('.addButton').attr('disabled', 'disabled');
        }
    });
    /* Remove button click handler */
    $('.div_reward').on('click', '.removeButton', function() {
        reward_number = reward_number - 1;
        $('.div_reward').find('.addButton').removeAttr('disabled', 'disabled');
        var $row    = $(this).parents('.remove-group');

        // Remove element containing the option
        $row.remove();
    });

    /* 공약 추가 버튼 기능 구현 */
    /* Add button click handler */
    var MAX_OPTIONS = 10;
    var promise_number = 1;
    $('.div_promise').on('click', '.addButton', function() {
        if(promise_number < MAX_OPTIONS){
            promise_number = promise_number + 1;
            var $template = $('#promiseTemplate'),
                    $clone    = $template
                            .clone()
                            .removeClass('hide')
                            .removeAttr('id')
                            .insertBefore($template);
        } else {
            $('.div_promise').find('.addButton').attr('disabled', 'disabled');
        }
    });
    /* Remove button click handler */
    $('.div_promise').on('click', '.removeButton', function() {
        promise_number = promise_number - 1;
        $('.div_promise').find('.addButton').removeAttr('disabled', 'disabled');
        var $row    = $(this).parents('.remove-group');

        // Remove element containing the option
        $row.remove();
    });
</script>